Step 0: the original data files are copied locally in the following locations:

Ice data

In [1]:
ls -ltrh ./Data/ice

total 15608
-rw-rw-rw-  1 bogdan  staff   2.2M Oct 24 11:58 N_seaice_extent_daily_v3.0.csv
-rw-rw-rw-  1 bogdan  staff   2.2M Oct 24 12:03 S_seaice_extent_daily_v3.0.csv
-rw-rw-rw-@ 1 bogdan  staff   3.2M Oct 24 12:05 Sea_Ice_Index_Regional_Daily_Data_G02135_v3.0.xlsx

CO2 data

In [3]:
ls -ltrh ./Data/co2

total 168
-rw-r--r--@ 1 bogdan  staff    48K Nov 11 21:44 monthly_in_situ_co2.csv
-rw-r--r--@ 1 bogdan  staff    29K Nov 21 18:58 co2_mm_mlo.csv

Fire Data

In [4]:
ls -ltrh ./Data/fire

total 186833152
-rw-r--r--  1 bogdan  staff   1.4G Oct 24 14:56 fire_archive_M6_82356.json
-rw-r--r--  1 bogdan  staff    71M Oct 24 14:56 fire_nrt_M6_82356.json
-rw-r--r--  1 bogdan  staff   3.0G Oct 24 14:58 fire_archive_V1_82357.json
-rw-r--r--  1 bogdan  staff   1.6G Oct 24 15:01 fire_archive_M6_82363.json
-rw-r--r--  1 bogdan  staff   3.1G Oct 24 15:02 fire_nrt_V1_82357.json
-rw-r--r--  1 bogdan  staff   6.6G Oct 24 15:10 fire_archive_V1_82364.json
-rw-r--r--  1 bogdan  staff   1.7G Oct 25 10:27 fire_archive_M6_82479.json
-rw-r--r--  1 bogdan  staff   6.9G Oct 25 10:36 fire_archive_V1_82480.json
-rw-r--r--  1 bogdan  staff   1.6G Oct 25 10:37 fire_archive_M6_82481.json
-rw-r--r--  1 bogdan  staff   1.8G Oct 25 10:40 fire_archive_M6_82483.json
-rw-r--r--  1 bogdan  staff   7.4G Oct 25 10:49 fire_archive_V1_82484.json
-rw-r--r--  1 bogdan  staff   7.0G Oct 25 10:53 fire_archive_V1_82482.json
-rw-r--r--  1 bogdan  staff   1.6G Oct 25 10:54 fire_archive_M6_82487.json
-rw-r--r--  1 bogdan  staff   1.7G Oct 25 10:57 fire_archive_M6_82489.json
-rw-r--r--  1 bogdan  staff   1.7G Oct 25 11:05 fire_archive_M6_82491.json
-rw-r--r--  1 bogdan  staff   1.8G Oct 25 11:08 fire_archive_M6_82493.json
-rw-r--r--  1 bogdan  staff   1.7G Oct 25 11:11 fire_archive_M6_82495.json
-rw-r--r--  1 bogdan  staff   6.7G Oct 25 11:13 fire_archive_V1_82488.json
-rw-r--r--  1 bogdan  staff   1.8G Oct 25 11:13 fire_archive_M6_82497.json
-rw-r--r--  1 bogdan  staff   1.8G Oct 25 11:14 fire_archive_M6_82499.json
-rw-r--r--  1 bogdan  staff   1.7G Oct 25 11:16 fire_archive_M6_82503.json
-rw-r--r--  1 bogdan  staff   1.9G Oct 25 11:17 fire_archive_M6_82501.json
-rw-r--r--  1 bogdan  staff   1.9G Oct 25 11:17 fire_archive_M6_82505.json
-rw-r--r--  1 bogdan  staff   7.0G Oct 25 11:19 fire_archive_V1_82490.json
-rw-r--r--  1 bogdan  staff   1.9G Oct 25 11:19 fire_archive_M6_82508.json
-rw-r--r--  1 bogdan  staff   1.9G Oct 25 11:20 fire_archive_M6_82511.json
-rw-r--r--  1 bogdan  staff   100M Oct 25 11:21 fire_archive_M6_82517.json
-rw-r--r--  1 bogdan  staff   680M Oct 25 11:21 fire_archive_M6_82515.json
-rw-r--r--  1 bogdan  staff   1.4G Oct 25 11:22 fire_archive_M6_82513.json
-rw-r--r--  1 bogdan  staff   9.9M Nov  5 19:38 fire_archive_M6_82356_out.json
-rw-r--r--  1 bogdan  staff    11M Nov  5 19:41 fire_archive_M6_82363_out.json
-rw-r--r--  1 bogdan  staff    12M Nov  5 19:44 fire_archive_M6_82479_out.json
-rw-r--r--  1 bogdan  staff    12M Nov  5 19:47 fire_archive_M6_82481_out.json
-rw-r--r--  1 bogdan  staff    13M Nov  5 19:50 fire_archive_M6_82483_out.json
-rw-r--r--  1 bogdan  staff    12M Nov  5 19:53 fire_archive_M6_82487_out.json
-rw-r--r--  1 bogdan  staff    12M Nov  5 19:56 fire_archive_M6_82489_out.json
-rw-r--r--  1 bogdan  staff    13M Nov  5 19:59 fire_archive_M6_82491_out.json
-rw-r--r--  1 bogdan  staff    13M Nov  5 20:03 fire_archive_M6_82493_out.json
-rw-r--r--  1 bogdan  staff    12M Nov  5 20:06 fire_archive_M6_82495_out.json
-rw-r--r--  1 bogdan  staff    13M Nov  5 20:09 fire_archive_M6_82497_out.json
-rw-r--r--  1 bogdan  staff    13M Nov  5 20:12 fire_archive_M6_82499_out.json
-rw-r--r--  1 bogdan  staff    14M Nov  5 20:16 fire_archive_M6_82501_out.json
-rw-r--r--  1 bogdan  staff    13M Nov  5 20:19 fire_archive_M6_82503_out.json
-rw-r--r--  1 bogdan  staff    14M Nov  5 20:23 fire_archive_M6_82505_out.json
-rw-r--r--  1 bogdan  staff    14M Nov  5 20:26 fire_archive_M6_82508_out.json
-rw-r--r--  1 bogdan  staff    14M Nov  5 20:30 fire_archive_M6_82511_out.json
-rw-r--r--  1 bogdan  staff    10M Nov  5 20:32 fire_archive_M6_82513_out.json
-rw-r--r--  1 bogdan  staff   4.9M Nov  5 20:33 fire_archive_M6_82515_out.json
-rw-r--r--  1 bogdan  staff   737K Nov  5 20:34 fire_archive_M6_82517_out.json
-rw-r--r--  1 bogdan  staff    22M Nov  5 20:39 fire_archive_V1_82357_out.json
-rw-r--r--  1 bogdan  staff    48M Nov  5 20:52 fire_archive_V1_82364_out.json
-rw-r--r--  1 bogdan  staff    50M Nov  5 21:05 fire_archive_V1_82480_out.json
-rw-r--r--  1 bogdan  staff    51M Nov  5 21:19 fire_archive_V1_82482_out.json
-rw-r--r--  1 bogdan  staff    49M Nov  5 21:46 fire_archive_V1_82488_out.json
-rw-r--r--  1 bogdan  staff    51M Nov  5 22:01 fire_archive_V1_82490_out.json
-rw-r--r--  1 bogdan  staff   522K Nov  5 22:02 fire_nrt_M6_82356_out.json
-rw-r--r--  1 bogdan  staff    23M Nov  5 22:56 fire_nrt_V1_82357_out.json
-rw-r--r--@ 1 bogdan  staff   1.7G Nov 20 05:47 fire_archive_M6_87748.json
-rw-r--r--@ 1 bogdan  staff   7.0G Nov 20 08:04 fire_archive_V1_87837.json
-rw-r--r--  1 bogdan  staff    12M Nov 20 20:00 fire_archive_M6_87748_out.json
-rw-r--r--  1 bogdan  staff    54M Nov 20 20:42 fire_archive_V1_82484_out.json
-rw-r--r--  1 bogdan  staff    51M Nov 20 21:13 fire_archive_V1_87837_out.json

FIRE

Step 1: convert fire files (JSON) to a JSON format that can be loaded with pd.read_json There are quotes that are missing in the original files. The following code was run for all the files, but I am showing how it runs for only one file.

In [5]:
import numpy as np
import pandas as pd
import random
import os
from scipy.signal import argrelextrema
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

The following code was run for all the files, but I am showing how it runs for only one file

In [6]:
fire_files = ['fire_archive_V1_87837.json']
#fire_files = ['fire_archive_M6_82356.json', 'fire_archive_M6_82363.json', 'fire_archive_M6_82479.json',
#'fire_archive_M6_82481.json', 'fire_archive_M6_82483.json', 'fire_archive_M6_82487.json',
#'fire_archive_M6_82489.json', 'fire_archive_M6_82491.json', 'fire_archive_M6_82493.json',
#'fire_archive_M6_82495.json', 'fire_archive_M6_82497.json', 'fire_archive_M6_82499.json',
#'fire_archive_M6_82501.json', 'fire_archive_M6_82503.json', 'fire_archive_M6_82505.json',
#'fire_archive_M6_82508.json', 'fire_archive_M6_82511.json', 'fire_archive_M6_82513.json',
#'fire_archive_M6_82515.json', 'fire_archive_M6_82517.json', 'fire_archive_V1_82357.json',
#'fire_archive_V1_82364.json', 'fire_archive_V1_82480.json', 'fire_archive_V1_82482.json',
#'fire_archive_V1_82484.json', 'fire_archive_V1_82488.json', 'fire_archive_V1_82490.json',
#'fire_nrt_M6_82356.json', 'fire_nrt_V1_82357.json']
strings = ['"acq_date": ','"acq_time": ','"acq_time": ','"instrument": ',
           '"satellite": ','"version": ','"daynight": ', '"confidence": ']
drops=[]
sample_percentage=0.01
print_progress=100000 # Print '*' after 100000 read observations (about 1000 written observations)

In [7]:
def add_quotation_mark(line, strings, drops):

    for string in drops:
        pos=line.find(string)
        if pos != -1:
            return None

    for string in strings:
        pos=line.find(string)
        if pos != -1:
            index = pos+len(string)
            if line[-2]==',':
                return line[:index]+'"'+line[index:-2]+'"'+',\n'
            else:
                return line[:index]+'"'+line[index:-1]+'"'+'\n' # no comma if it's the last line

    return line

In [8]:
def decision(probability):
    return random.random() < probability # return True/False depending on the the probability

In [9]:
def read_skip_record(input_file, output_file):
    global comma
    observation = ''
    while True:
        json_line = input_file.readline().strip() + '\n'
        processed_line = add_quotation_mark(json_line, strings, drops)
        observation += processed_line
        if processed_line[0] == '}':
            if(decision(sample_percentage)): # write a random "sample_percentage" of the records
                if processed_line[-2] == ',': # last char is '\n'
                    comma = True
                else:
                    comma = False
                output_file.write(observation)
            if processed_line[-2] == ',': # check for comma, last char in line is '\n'
                return True
            else:
                return False

In [10]:
for fire_file in fire_files:
    i = 0
    comma = False
    fire_file = 'Data/fire/' + fire_file
    pos=fire_file.find('.')
    fire_file_out = fire_file[:pos] + '_out' + fire_file[pos:]
    print('\n', fire_file, ' -> ', fire_file_out)

    with open(fire_file, 'r') as file:
        while True:
            with open(fire_file_out, 'w') as file1:
                line = file.readline().strip()
                # '[' on the first line
                if line != '[':
                    print('Wrong json structure!')
                    break
                else:
                    file1.write('['+'\n')
                while read_skip_record(file, file1):
                    i += 1
                    if not i%print_progress:
                        print("*", end="")
                # ']' on the last line
                file1.write(']'+'\n')
                break

    # if there is a comma at the end, erase it
    if comma: # delete comma after the last observation
        file1.close()
        with open(fire_file_out, 'rb+') as file1:
            file1.seek(-4, os.SEEK_END)
            file1.truncate()
            file1.close()
        with open(fire_file_out, 'a') as file1:
            file1.write('\n]'+'\n')

 Data/fire/fire_archive_V1_87837.json  ->  Data/fire/fire_archive_V1_87837_out.json
********************************************************************************************************************************************************************************************************

In [11]:
ls -ltrh ./Data/fire/fire_archive_V1_87837*

-rw-r--r--@ 1 bogdan  staff   7.0G Nov 20 08:04 ./Data/fire/fire_archive_V1_87837.json
-rw-r--r--  1 bogdan  staff    51M Nov 20 21:13 ./Data/fire/fire_archive_V1_87837_out_old.json
-rw-r--r--  1 bogdan  staff    51M Nov 23 14:55 ./Data/fire/fire_archive_V1_87837_out.json

Fire Data - preprocessed

In [12]:
fire_files_1=['fire_archive_M6_82517_out.json', 'fire_archive_M6_82515_out.json', 'fire_archive_M6_82513_out.json',
              'fire_archive_M6_82511_out.json', 'fire_archive_M6_82508_out.json', 'fire_archive_M6_82505_out.json',
              'fire_archive_M6_82503_out.json', 'fire_archive_M6_82501_out.json', 'fire_archive_M6_82497_out.json', 
              'fire_archive_M6_82495_out.json', 'fire_archive_M6_82493_out.json', 'fire_archive_M6_82491_out.json',
              'fire_archive_M6_82489_out.json', 'fire_archive_M6_82487_out.json', 'fire_archive_M6_87748_out.json',
              'fire_archive_M6_82483_out.json', 'fire_archive_M6_82481_out.json', 'fire_archive_M6_82479_out.json',
              'fire_archive_M6_82363_out.json', 'fire_archive_M6_82356_out.json', 'fire_nrt_M6_82356_out.json']

fire_files_2=['fire_archive_V1_82490_out.json', 'fire_archive_V1_82488_out.json', 'fire_archive_V1_87837_out.json',
              'fire_archive_V1_82484_out.json', 'fire_archive_V1_82482_out.json', 'fire_archive_V1_82480_out.json',
              'fire_archive_V1_82364_out.json', 'fire_archive_V1_82357_out.json', 'fire_nrt_V1_82357_out.json']

In [13]:
fire1_df_list = []
for item in fire_files_1:
    print('Loading: ', item, '...')
    fire1_df_list.append(pd.read_json('Data/fire/' + item))

Loading:  fire_archive_M6_82517_out.json ...
Loading:  fire_archive_M6_82515_out.json ...
Loading:  fire_archive_M6_82513_out.json ...
Loading:  fire_archive_M6_82511_out.json ...
Loading:  fire_archive_M6_82508_out.json ...
Loading:  fire_archive_M6_82505_out.json ...
Loading:  fire_archive_M6_82503_out.json ...
Loading:  fire_archive_M6_82501_out.json ...
Loading:  fire_archive_M6_82497_out.json ...
Loading:  fire_archive_M6_82495_out.json ...
Loading:  fire_archive_M6_82493_out.json ...
Loading:  fire_archive_M6_82491_out.json ...
Loading:  fire_archive_M6_82489_out.json ...
Loading:  fire_archive_M6_82487_out.json ...
Loading:  fire_archive_M6_87748_out.json ...
Loading:  fire_archive_M6_82483_out.json ...
Loading:  fire_archive_M6_82481_out.json ...
Loading:  fire_archive_M6_82479_out.json ...
Loading:  fire_archive_M6_82363_out.json ...
Loading:  fire_archive_M6_82356_out.json ...
Loading:  fire_nrt_M6_82356_out.json ...

In [14]:
fire1_df_list[0].columns

Index(['acq_date', 'acq_time', 'bright_t31', 'brightness', 'confidence',
       'daynight', 'frp', 'instrument', 'latitude', 'longitude', 'satellite',
       'scan', 'track', 'type', 'version'],
      dtype='object')

In [15]:
for i in range(len(fire1_df_list)):
    print(i, min(fire1_df_list[i]['acq_date']), max(fire1_df_list[i]['acq_date']), 
          len(fire1_df_list[i]['acq_date'].unique()))

0 2000-11-01 2000-12-31 61
1 2001-01-01 2001-12-31 348
2 2002-01-01 2002-12-31 355
3 2003-01-01 2003-12-31 365
4 2004-01-01 2004-12-31 366
5 2005-01-01 2005-12-31 365
6 2006-01-01 2006-12-31 365
7 2007-01-01 2007-12-31 365
8 2008-01-01 2008-12-31 366
9 2009-01-01 2009-12-31 365
10 2010-01-01 2010-12-31 365
11 2011-01-01 2011-12-31 365
12 2012-01-31 2012-12-31 336
13 2013-01-01 2013-12-31 365
14 2014-01-01 2014-12-31 365
15 2015-01-01 2015-12-31 365
16 2016-01-01 2016-12-31 366
17 2017-01-01 2017-12-31 365
18 2018-01-01 2018-12-31 365
19 2019-01-01 2019-09-30 273
20 2019-10-01 2019-10-24 24

Notes:

there are some missing values for old data (years 2000, 2001, 2002)

file 19 and file 20 refer to the same year 2019
The 2019 file fire_nrt_M6_82356_out.json represents near real time data and
the observations from these two files will merge correctly for the year 2019 until October 24
because the files were downloaded on October 25

In [16]:
fire_M6 = pd.DataFrame()
for i in range(len(fire1_df_list)):
    print('Concatenating '+ fire_files_1[i] + '...')
    fire_M6 = pd.concat([fire_M6, fire1_df_list[i]], sort=False)

Concatenating fire_archive_M6_82517_out.json...
Concatenating fire_archive_M6_82515_out.json...
Concatenating fire_archive_M6_82513_out.json...
Concatenating fire_archive_M6_82511_out.json...
Concatenating fire_archive_M6_82508_out.json...
Concatenating fire_archive_M6_82505_out.json...
Concatenating fire_archive_M6_82503_out.json...
Concatenating fire_archive_M6_82501_out.json...
Concatenating fire_archive_M6_82497_out.json...
Concatenating fire_archive_M6_82495_out.json...
Concatenating fire_archive_M6_82493_out.json...
Concatenating fire_archive_M6_82491_out.json...
Concatenating fire_archive_M6_82489_out.json...
Concatenating fire_archive_M6_82487_out.json...
Concatenating fire_archive_M6_87748_out.json...
Concatenating fire_archive_M6_82483_out.json...
Concatenating fire_archive_M6_82481_out.json...
Concatenating fire_archive_M6_82479_out.json...
Concatenating fire_archive_M6_82363_out.json...
Concatenating fire_archive_M6_82356_out.json...
Concatenating fire_nrt_M6_82356_out.json...

In [17]:
type(fire_M6)

pandas.core.frame.DataFrame

In [18]:
fire_M6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 849308 entries, 0 to 1947
Data columns (total 15 columns):
acq_date      849308 non-null object
acq_time      849308 non-null int64
bright_t31    849308 non-null float64
brightness    849308 non-null float64
confidence    849308 non-null int64
daynight      849308 non-null object
frp           849308 non-null float64
instrument    849308 non-null object
latitude      849308 non-null float64
longitude     849308 non-null float64
satellite     849308 non-null object
scan          849308 non-null float64
track         849308 non-null float64
type          847360 non-null float64
version       849308 non-null object
dtypes: float64(8), int64(2), object(5)
memory usage: 103.7+ MB

In [19]:
# There are no observations before 2000-11-01 and after 2019-10-24
# There are 1939 missing values for type column
print('Min date: ', min(fire_M6['acq_date']), '   Max date: ', max(fire_M6['acq_date']))

Min date:  2000-11-01    Max date:  2019-10-24

In [20]:
fire_M6.set_index('acq_date')

,acq_time,bright_t31,brightness,confidence,daynight,frp,instrument,latitude,longitude,satellite,scan,track,type,version
acq_date,,,,,,,,,,,,,,
2000-11-01,17,309.3,324.7,35,D,26.8,MODIS,-20.8650,146.3039,Terra,2.3,1.5,0.0,6.2
2000-11-01,17,308.2,331.7,81,D,68.8,MODIS,-20.5602,146.0194,Terra,2.4,1.5,0.0,6.2
2000-11-01,18,302.8,319.5,62,D,7.1,MODIS,-24.3197,151.5619,Terra,1.0,1.0,0.0,6.2
2000-11-01,155,319.5,334.9,59,D,10.5,MODIS,-18.0912,128.9856,Terra,1.0,1.0,0.0,6.2
2000-11-01,157,317.6,367.9,100,D,100.3,MODIS,-25.5102,125.4199,Terra,1.1,1.0,0.0,6.2
2000-11-01,157,318.7,339.8,80,D,26.6,MODIS,-25.2563,125.0587,Terra,1.1,1.1,0.0,6.2
2000-11-01,158,315.8,335.0,24,D,61.6,MODIS,-27.0504,119.5368,Terra,2.3,1.5,0.0,6.2
2000-11-01,315,284.1,358.9,99,D,105.1,MODIS,50.2959,125.5208,Terra,1.1,1.1,0.0,6.2
2000-11-01,315,279.4,307.8,66,D,46.7,MODIS,48.6393,133.4861,Terra,2.9,1.6,0.0,6.2
2000-11-01,315,280.1,306.5,60,D,9.7,MODIS,48.4171,121.4896,Terra,1.0,1.0,0.0,6.2
2000-11-01,315,281.6,338.8,91,D,74.9,MODIS,48.3055,127.0036,Terra,1.4,1.2,0.0,6.2
2000-11-01,315,280.6,304.3,59,D,10.2,MODIS,49.2743,124.9780,Terra,1.1,1.1,0.0,6.2
2000-11-01,427,287.5,304.9,62,N,8.5,MODIS,31.3393,-89.9124,Terra,1.0,1.0,0.0,6.2
2000-11-01,822,306.3,355.6,97,D,64.2,MODIS,12.8992,36.0888,Terra,1.0,1.0,0.0,6.2
2000-11-01,1001,311.2,330.7,78,D,38.6,MODIS,10.8719,17.3812,Terra,1.8,1.3,0.0,6.2
2000-11-01,1001,314.0,370.7,100,D,390.1,MODIS,10.8934,19.0750,Terra,2.5,1.5,0.0,6.2
2000-11-01,1001,303.9,325.1,77,D,62.0,MODIS,9.7300,19.2223,Terra,2.7,1.6,0.0,6.2
2000-11-01,1002,301.9,317.1,67,D,15.5,MODIS,8.0725,16.4530,Terra,1.7,1.3,0.0,6.2
2000-11-01,1002,310.8,346.3,93,D,52.1,MODIS,9.2275,14.2885,Terra,1.2,1.1,0.0,6.2
2000-11-01,1007,299.1,323.0,0,D,29.1,MODIS,-9.5921,14.0451,Terra,2.2,1.4,0.0,6.2
2000-11-01,1139,309.8,334.1,63,D,18.4,MODIS,15.3469,-13.4635,Terra,1.1,1.0,0.0,6.2
2000-11-01,1140,302.5,320.9,28,D,13.1,MODIS,12.5434,-10.6837,Terra,1.1,1.0,0.0,6.2
2000-11-01,1507,305.6,321.8,41,D,22.5,MODIS,-24.5893,-63.8712,Terra,1.9,1.3,0.0,6.2
2000-11-01,1629,291.7,320.1,79,D,16.3,MODIS,37.6939,-81.4067,Terra,1.0,1.0,0.0,6.2
2000-11-01,1630,290.9,309.9,69,D,11.9,MODIS,36.2900,-77.5209,Terra,1.2,1.1,0.0,6.2
2000-11-01,1635,295.1,329.2,82,D,83.8,MODIS,19.3679,-92.0026,Terra,2.3,1.5,3.0,6.2
2000-11-01,1635,295.2,330.0,83,D,88.2,MODIS,19.4412,-92.0607,Terra,2.3,1.5,3.0,6.2
2000-11-02,59,310.9,337.0,57,D,14.0,MODIS,-18.5983,142.5157,Terra,1.0,1.0,0.0,6.2
2000-11-02,59,305.4,330.6,70,D,14.2,MODIS,-18.0180,143.2567,Terra,1.0,1.0,0.0,6.2
2000-11-02,59,308.4,326.9,36,D,8.1,MODIS,-17.8505,144.5260,Terra,1.0,1.0,0.0,6.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-24,500,303.2,339.8,86,D,45.9,MODIS,-15.2830,126.8790,Aqua,1.5,1.2,NaN,6.0NRT
2019-10-24,500,302.6,316.0,25,D,20.5,MODIS,-8.2260,124.0310,Aqua,1.9,1.3,NaN,6.0NRT
2019-10-24,500,310.5,336.5,68,D,38.6,MODIS,-12.9010,135.2750,Aqua,1.6,1.2,NaN,6.0NRT
2019-10-24,510,296.5,316.3,65,D,11.7,MODIS,25.9910,119.5090,Aqua,1.1,1.1,NaN,6.0NRT
2019-10-24,625,292.4,312.1,84,N,9.3,MODIS,38.7880,-122.8170,Terra,1.1,1.1,NaN,6.0NRT
2019-10-24,625,319.7,436.3,100,N,651.5,MODIS,38.7550,-122.8040,Terra,1.1,1.1,NaN,6.0NRT
2019-10-24,640,304.0,329.4,72,D,19.6,MODIS,-3.3550,102.9430,Aqua,1.0,1.0,NaN,6.0NRT
2019-10-24,640,295.5,346.8,93,D,50.1,MODIS,-2.6920,102.5580,Aqua,1.0,1.0,NaN,6.0NRT
2019-10-24,640,308.7,370.8,100,D,109.3,MODIS,-3.3540,105.1300,Aqua,1.1,1.0,NaN,6.0NRT
2019-10-24,640,305.0,331.7,81,D,17.1,MODIS,-2.7490,104.4120,Aqua,1.0,1.0,NaN,6.0NRT
2019-10-24,640,307.5,336.3,72,D,19.6,MODIS,-3.4580,105.1810,Aqua,1.1,1.0,NaN,6.0NRT
2019-10-24,640,308.5,325.4,76,D,10.9,MODIS,-4.0280,103.3200,Aqua,1.0,1.0,NaN,6.0NRT
2019-10-24,640,311.6,345.9,92,D,35.3,MODIS,-3.0200,105.2110,Aqua,1.1,1.0,NaN,6.0NRT
2019-10-24,640,308.4,329.0,71,D,12.5,MODIS,-3.5030,104.6720,Aqua,1.0,1.0,NaN,6.0NRT
2019-10-24,640,308.6,330.0,66,D,15.8,MODIS,-3.8510,105.3300,Aqua,1.1,1.0,NaN,6.0NRT
2019-10-24,640,305.6,326.2,45,D,6.2,MODIS,-4.4190,105.4660,Aqua,1.1,1.0,NaN,6.0NRT
2019-10-24,640,304.6,332.8,66,D,18.9,MODIS,-3.0200,105.0190,Aqua,1.0,1.0,NaN,6.0NRT
2019-10-24,640,306.6,337.8,68,D,28.3,MODIS,-3.7730,105.4840,Aqua,1.1,1.0,NaN,6.0NRT
2019-10-24,645,301.8,322.6,74,D,12.6,MODIS,18.0360,100.0540,Aqua,1.0,1.0,NaN,6.0NRT
2019-10-24,710,310.9,333.9,70,D,13.6,MODIS,-21.4780,43.6850,Terra,1.2,1.1,NaN,6.0NRT
2019-10-24,830,300.5,319.2,68,D,12.7,MODIS,30.7920,74.6620,Aqua,1.2,1.1,NaN,6.0NRT
2019-10-24,830,303.0,356.2,98,D,122.3,MODIS,36.0570,40.3580,Terra,1.5,1.2,NaN,6.0NRT
2019-10-24,830,300.9,317.9,50,D,11.5,MODIS,35.9270,39.9420,Terra,1.4,1.2,NaN,6.0NRT
2019-10-24,830,295.7,316.7,43,D,27.7,MODIS,34.4840,43.3440,Terra,2.5,1.5,NaN,6.0NRT
2019-10-24,830,289.6,307.7,57,D,25.9,MODIS,45.7160,48.3960,Terra,2.4,1.5,NaN,6.0NRT
2019-10-24,845,306.3,330.1,65,D,27.2,MODIS,-12.0550,28.8120,Terra,1.6,1.3,NaN,6.0NRT
2019-10-24,955,298.9,318.3,69,D,60.9,MODIS,-19.2190,48.3560,Aqua,3.5,1.8,NaN,6.0NRT
2019-10-24,1010,301.7,323.2,75,D,18.2,MODIS,36.8680,41.0190,Aqua,1.3,1.1,NaN,6.0NRT
2019-10-24,1010,297.0,313.8,67,D,9.7,MODIS,43.5470,43.6360,Aqua,1.0,1.0,NaN,6.0NRT
2019-10-24,1015,303.8,325.5,49,D,32.9,MODIS,15.5370,-2.6210,Terra,2.8,1.6,NaN,6.0NRT

In [21]:
ls -ltrh ./Data/fire/*V1*

-rw-r--r--  1 bogdan  staff   3.0G Oct 24 14:58 ./Data/fire/fire_archive_V1_82357.json
-rw-r--r--  1 bogdan  staff   3.1G Oct 24 15:02 ./Data/fire/fire_nrt_V1_82357.json
-rw-r--r--  1 bogdan  staff   6.6G Oct 24 15:10 ./Data/fire/fire_archive_V1_82364.json
-rw-r--r--  1 bogdan  staff   6.9G Oct 25 10:36 ./Data/fire/fire_archive_V1_82480.json
-rw-r--r--  1 bogdan  staff   7.4G Oct 25 10:49 ./Data/fire/fire_archive_V1_82484.json
-rw-r--r--  1 bogdan  staff   7.0G Oct 25 10:53 ./Data/fire/fire_archive_V1_82482.json
-rw-r--r--  1 bogdan  staff   6.7G Oct 25 11:13 ./Data/fire/fire_archive_V1_82488.json
-rw-r--r--  1 bogdan  staff   7.0G Oct 25 11:19 ./Data/fire/fire_archive_V1_82490.json
-rw-r--r--  1 bogdan  staff    22M Nov  5 20:39 ./Data/fire/fire_archive_V1_82357_out.json
-rw-r--r--  1 bogdan  staff    48M Nov  5 20:52 ./Data/fire/fire_archive_V1_82364_out.json
-rw-r--r--  1 bogdan  staff    50M Nov  5 21:05 ./Data/fire/fire_archive_V1_82480_out.json
-rw-r--r--  1 bogdan  staff    51M Nov  5 21:19 ./Data/fire/fire_archive_V1_82482_out.json
-rw-r--r--  1 bogdan  staff    49M Nov  5 21:46 ./Data/fire/fire_archive_V1_82488_out.json
-rw-r--r--  1 bogdan  staff    51M Nov  5 22:01 ./Data/fire/fire_archive_V1_82490_out.json
-rw-r--r--  1 bogdan  staff    23M Nov  5 22:56 ./Data/fire/fire_nrt_V1_82357_out.json
-rw-r--r--@ 1 bogdan  staff   7.0G Nov 20 08:04 ./Data/fire/fire_archive_V1_87837.json
-rw-r--r--  1 bogdan  staff    54M Nov 20 20:42 ./Data/fire/fire_archive_V1_82484_out.json
-rw-r--r--  1 bogdan  staff    51M Nov 20 21:13 ./Data/fire/fire_archive_V1_87837_out_old.json
-rw-r--r--  1 bogdan  staff    51M Nov 23 14:55 ./Data/fire/fire_archive_V1_87837_out.json

In [22]:
fire2_df_list = []
for item in fire_files_2:
    print('Loading: ', item, '...')
    fire2_df_list.append(pd.read_json('Data/fire/' + item))

Loading:  fire_archive_V1_82490_out.json ...
Loading:  fire_archive_V1_82488_out.json ...
Loading:  fire_archive_V1_87837_out.json ...
Loading:  fire_archive_V1_82484_out.json ...
Loading:  fire_archive_V1_82482_out.json ...
Loading:  fire_archive_V1_82480_out.json ...
Loading:  fire_archive_V1_82364_out.json ...
Loading:  fire_archive_V1_82357_out.json ...
Loading:  fire_nrt_V1_82357_out.json ...

In [23]:
for i in range(len(fire2_df_list)):
    print(i, min(fire2_df_list[i]['acq_date']), max(fire2_df_list[i]['acq_date']), 
          len(fire2_df_list[i]['acq_date'].unique()))

0 2012-01-31 2012-12-31 335
1 2013-01-01 2013-12-31 365
2 2014-01-01 2014-12-31 364
3 2015-01-01 2015-12-31 365
4 2016-01-01 2016-12-31 366
5 2017-01-01 2017-12-31 365
6 2018-01-01 2018-12-31 365
7 2019-01-01 2019-06-30 181
8 2019-07-01 2019-10-24 116

Notes:

There are some missing values for old data (years 2012, 2014)

file 7 and file 8 refer to the same year 2019
The 2019 file fire_nrt_V1_82357_out.json represents near real time data and
the observations from these two files will merge correctly for the year 2019 until October 24
because the files were downloaded on October 25
There are NaN values at "daynight" column

In [24]:
fire_V1 = pd.DataFrame()
for i in range(len(fire2_df_list)):
    print('Concatenating '+ fire_files_2[i] + '...')
    fire_V1 = pd.concat([fire_V1, fire2_df_list[i]], sort=False)

Concatenating fire_archive_V1_82490_out.json...
Concatenating fire_archive_V1_82488_out.json...
Concatenating fire_archive_V1_87837_out.json...
Concatenating fire_archive_V1_82484_out.json...
Concatenating fire_archive_V1_82482_out.json...
Concatenating fire_archive_V1_82480_out.json...
Concatenating fire_archive_V1_82364_out.json...
Concatenating fire_archive_V1_82357_out.json...
Concatenating fire_nrt_V1_82357_out.json...

In [25]:
type(fire_V1)

pandas.core.frame.DataFrame

In [26]:
fire_V1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1580506 entries, 0 to 88072
Data columns (total 15 columns):
acq_date      1580506 non-null object
acq_time      1580506 non-null int64
bright_ti4    1580506 non-null float64
bright_ti5    1580506 non-null float64
confidence    1580506 non-null object
frp           1580506 non-null float64
instrument    1580506 non-null object
latitude      1580506 non-null float64
longitude     1580506 non-null float64
satellite     1580506 non-null object
scan          1580506 non-null float64
track         1580506 non-null float64
type          1492433 non-null float64
version       1580506 non-null object
daynight      88073 non-null object
dtypes: float64(8), int64(1), object(6)
memory usage: 192.9+ MB

In [27]:
# There are no observations before 2012-01-31 and after 2019-10-24
print('Min date: ', min(fire_V1['acq_date']), '   Max date: ', max(fire_V1['acq_date']))

Min date:  2012-01-31    Max date:  2019-10-24

In [28]:
fire_V1.set_index('acq_date')

,acq_time,bright_ti4,bright_ti5,confidence,frp,instrument,latitude,longitude,satellite,scan,track,type,version,daynight
acq_date,,,,,,,,,,,,,,
2012-01-31,104,324.2,263.0,n,3.2,VIIRS,50.42116,18.13946,N,0.41,0.37,2.0,1,NaN
2012-01-31,105,337.6,266.2,n,8.0,VIIRS,49.81459,18.31155,N,0.41,0.37,2.0,1,NaN
2012-01-31,110,300.6,275.6,n,5.2,VIIRS,31.65900,6.06138,N,0.43,0.38,2.0,1,NaN
2012-01-31,110,297.0,271.1,n,1.4,VIIRS,32.92940,3.24130,N,0.39,0.44,2.0,1,NaN
2012-01-31,110,349.4,279.6,n,4.3,VIIRS,29.70964,19.71412,N,0.40,0.60,2.0,1,NaN
2012-01-31,111,331.7,275.1,n,3.1,VIIRS,28.64950,7.68689,N,0.38,0.36,2.0,1,NaN
2012-01-31,115,304.1,292.8,n,0.9,VIIRS,11.81456,4.97983,N,0.39,0.36,0.0,1,NaN
2012-01-31,115,310.9,293.6,n,1.3,VIIRS,10.39675,13.45527,N,0.40,0.60,0.0,1,NaN
2012-01-31,115,317.3,286.3,n,1.9,VIIRS,13.73985,13.83765,N,0.37,0.58,0.0,1,NaN
2012-01-31,115,304.3,292.2,n,1.1,VIIRS,10.61242,13.48132,N,0.40,0.60,0.0,1,NaN
2012-01-31,116,314.0,285.1,n,1.8,VIIRS,9.41623,-2.80546,N,0.46,0.47,0.0,1,NaN
2012-01-31,116,305.9,294.0,n,1.6,VIIRS,7.77847,11.10509,N,0.62,0.54,0.0,1,NaN
2012-01-31,116,305.2,291.7,n,0.8,VIIRS,9.60142,0.78435,N,0.44,0.38,0.0,1,NaN
2012-01-31,116,343.2,292.2,n,4.3,VIIRS,9.64568,4.50738,N,0.39,0.36,0.0,1,NaN
2012-01-31,116,301.2,290.6,n,0.5,VIIRS,10.49554,4.82829,N,0.40,0.37,0.0,1,NaN
2012-01-31,116,308.6,290.5,n,1.1,VIIRS,9.54677,2.65686,N,0.39,0.36,0.0,1,NaN
2012-01-31,116,302.8,289.0,n,1.5,VIIRS,9.24156,15.04445,N,0.54,0.68,0.0,1,NaN
2012-01-31,116,301.4,290.3,n,0.6,VIIRS,9.91265,4.44066,N,0.39,0.36,0.0,1,NaN
2012-01-31,116,331.0,298.0,n,3.2,VIIRS,10.11835,6.24933,N,0.44,0.38,0.0,1,NaN
2012-01-31,116,309.5,288.6,n,2.6,VIIRS,8.50126,15.39806,N,0.59,0.70,0.0,1,NaN
2012-01-31,116,315.6,293.3,n,3.0,VIIRS,8.52678,13.16654,N,0.42,0.61,0.0,1,NaN
2012-01-31,116,301.9,289.7,n,0.5,VIIRS,10.98340,6.67588,N,0.45,0.39,0.0,1,NaN
2012-01-31,117,324.8,288.9,n,12.4,VIIRS,5.24963,6.60113,N,0.52,0.42,2.0,1,NaN
2012-01-31,117,305.4,283.1,n,1.0,VIIRS,5.10047,10.88496,N,0.33,0.55,0.0,1,NaN
2012-01-31,117,313.4,293.4,n,1.9,VIIRS,7.60049,-0.19373,N,0.46,0.39,0.0,1,NaN
2012-01-31,117,303.3,287.3,n,2.6,VIIRS,8.88330,-4.00464,N,0.54,0.51,0.0,1,NaN
2012-01-31,256,303.1,288.9,n,0.2,VIIRS,13.05376,-11.23420,N,0.40,0.60,0.0,1,NaN
2012-01-31,256,303.4,287.5,n,1.7,VIIRS,12.67257,-8.20207,N,0.64,0.72,0.0,1,NaN
2012-01-31,403,326.2,267.3,n,1.7,VIIRS,42.78582,130.34808,N,0.40,0.37,0.0,1,NaN
2012-01-31,447,345.6,283.8,n,17.0,VIIRS,-17.59559,-61.84979,N,0.60,0.53,0.0,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-24,642,333.7,299.8,n,4.8,VIIRS,-3.78863,105.50034,N,0.54,0.42,NaN,1.0NRT,D
2019-10-24,642,344.2,287.8,n,6.9,VIIRS,-2.92829,110.80837,N,0.41,0.61,NaN,1.0NRT,D
2019-10-24,642,336.2,305.8,n,10.8,VIIRS,-4.14017,105.50381,N,0.53,0.42,NaN,1.0NRT,D
2019-10-24,642,337.3,303.3,n,6.3,VIIRS,-4.26501,105.37064,N,0.52,0.42,NaN,1.0NRT,D
2019-10-24,642,339.5,302.7,n,5.1,VIIRS,-4.39388,105.38887,N,0.52,0.42,NaN,1.0NRT,D
2019-10-24,642,367.0,291.9,h,10.3,VIIRS,-3.32920,112.46213,N,0.53,0.67,NaN,1.0NRT,D
2019-10-24,642,341.9,295.6,n,6.0,VIIRS,-2.88696,112.18149,N,0.51,0.66,NaN,1.0NRT,D
2019-10-24,642,343.4,296.0,n,11.8,VIIRS,-4.67117,105.71068,N,0.54,0.42,NaN,1.0NRT,D
2019-10-24,642,335.1,300.2,n,4.8,VIIRS,-4.80948,105.67063,N,0.53,0.42,NaN,1.0NRT,D
2019-10-24,648,336.3,301.0,n,6.1,VIIRS,17.05639,96.63851,N,0.38,0.36,NaN,1.0NRT,D
2019-10-24,648,332.3,297.5,n,3.2,VIIRS,16.45459,100.71518,N,0.51,0.41,NaN,1.0NRT,D
2019-10-24,648,335.4,301.2,n,2.0,VIIRS,16.94027,96.56207,N,0.38,0.36,NaN,1.0NRT,D
2019-10-24,654,333.9,292.6,n,3.1,VIIRS,44.89578,76.29805,N,0.32,0.55,NaN,1.0NRT,D
2019-10-24,718,295.5,280.6,n,0.7,VIIRS,38.60073,-82.82607,N,0.38,0.36,NaN,1.0NRT,N
2019-10-24,724,312.1,288.8,n,1.8,VIIRS,29.57451,-98.03333,N,0.50,0.66,NaN,1.0NRT,N
2019-10-24,724,296.8,281.7,n,1.0,VIIRS,30.32708,-91.27848,N,0.41,0.45,NaN,1.0NRT,N
2019-10-24,830,343.0,299.6,n,5.7,VIIRS,31.26281,74.52754,N,0.46,0.47,NaN,1.0NRT,D
2019-10-24,830,335.3,299.2,n,4.0,VIIRS,31.33800,74.99598,N,0.49,0.49,NaN,1.0NRT,D
2019-10-24,830,367.0,299.7,h,18.6,VIIRS,30.69795,75.26402,N,0.50,0.49,NaN,1.0NRT,D
2019-10-24,830,337.1,297.9,n,6.0,VIIRS,30.99417,75.41637,N,0.52,0.50,NaN,1.0NRT,D
2019-10-24,830,332.7,300.2,n,2.1,VIIRS,29.75238,75.57532,N,0.51,0.49,NaN,1.0NRT,D
2019-10-24,830,336.1,307.4,l,1.0,VIIRS,25.40182,68.30430,N,0.39,0.36,NaN,1.0NRT,D
2019-10-24,830,336.3,301.8,n,2.8,VIIRS,30.09580,74.42760,N,0.44,0.46,NaN,1.0NRT,D
2019-10-24,830,332.5,299.9,n,3.4,VIIRS,29.94981,76.49561,N,0.58,0.52,NaN,1.0NRT,D
2019-10-24,830,338.0,299.8,n,4.4,VIIRS,30.47129,72.16737,N,0.51,0.41,NaN,1.0NRT,D
2019-10-24,830,341.4,299.2,n,5.0,VIIRS,30.58495,75.33686,N,0.51,0.49,NaN,1.0NRT,D
2019-10-24,830,336.4,299.7,n,7.1,VIIRS,31.61893,75.55096,N,0.54,0.50,NaN,1.0NRT,D
2019-10-24,830,335.2,298.6,n,2.9,VIIRS,32.41902,73.49893,N,0.42,0.45,NaN,1.0NRT,D
2019-10-24,900,314.9,290.1,n,8.8,VIIRS,38.76931,-122.77915,N,0.55,0.68,NaN,1.0NRT,N
2019-10-24,906,295.8,276.4,n,1.4,VIIRS,35.10977,-112.09917,N,0.43,0.38,NaN,1.0NRT,N

In [29]:
scan_M6 = fire_M6['scan'].unique()
scan_V1 = fire_V1['scan'].unique()

In [30]:
print(np.sort(scan_M6), '\n')
print(np.sort(scan_V1))

[1.  1.1 1.2 1.3 1.4 1.5 1.6 1.7 1.8 1.9 2.  2.1 2.2 2.3 2.4 2.5 2.6 2.7
 2.8 2.9 3.  3.1 3.2 3.3 3.4 3.5 3.6 3.7 3.8 3.9 4.  4.1 4.2 4.3 4.4 4.5
 4.6 4.7 4.8]

[0.32 0.33 0.34 0.35 0.36 0.37 0.38 0.39 0.4  0.41 0.42 0.43 0.44 0.45
 0.46 0.47 0.48 0.49 0.5  0.51 0.52 0.53 0.54 0.55 0.56 0.57 0.58 0.59
 0.6  0.61 0.62 0.63 0.64 0.65 0.66 0.67 0.68 0.69 0.7  0.71 0.72 0.73
 0.74 0.75 0.76 0.77 0.78 0.79 0.8 ]

In [31]:
track_M6 = fire_M6['track'].unique()
track_V1 = fire_V1['track'].unique()

In [32]:
print(np.sort(track_M6), '\n')
print(np.sort(track_V1))

[1.  1.1 1.2 1.3 1.4 1.5 1.6 1.7 1.8 1.9 2. ]

[0.36 0.37 0.38 0.39 0.4  0.41 0.42 0.43 0.44 0.45 0.46 0.47 0.48 0.49
 0.5  0.51 0.52 0.53 0.54 0.55 0.56 0.57 0.58 0.59 0.6  0.61 0.62 0.63
 0.64 0.65 0.66 0.67 0.68 0.69 0.7  0.71 0.72 0.73 0.74 0.75 0.76 0.77
 0.78]

Columns 'scan' and 'track' are useful for calculating the size of the pixel. At nadir, it is 1km for M6 dataframe and 375m for V1 dataframe. For scans and tracks that are close to the minimum and maximum values, the observed pixel size increases because the observation angle decreases. However, we are not concerned about the resolution. The radiative power per unit of surface is more important and this value takes into account ther 'track' and 'scan' values.
Therefore, it is safe to drop these two columns.

In [130]:
fire_M6.drop(['scan', 'track'], axis=1, inplace=True)
fire_V1.drop(['scan', 'track'], axis=1, inplace=True)

In [33]:
# There are only three satellites that gather data: Terra, Aqua and Suomi NPP (coded 'N' in fire_V1 dataset)
print(fire_M6['satellite'].unique())
print(fire_V1['satellite'].unique())

['Terra' 'Aqua']
['N']

In [34]:
# Since the name is not important, this column can be dropped
fire_M6.drop('satellite', axis=1, inplace=True)
fire_V1.drop('satellite', axis=1, inplace=True)

In [37]:
# There are missing values for "type" in both dataframes
# Type column has the following meaning:
# type 0: presumed vegetation fire
# type 1: active volcano
# type 2: other static land source
# type 3: offshore
# Since we are interested only in vegetation fire, we can use only the subset where type=0 and drop the column

In [38]:
fire_M6.count()

acq_date      849308
acq_time      849308
bright_t31    849308
brightness    849308
confidence    849308
daynight      849308
frp           849308
instrument    849308
latitude      849308
longitude     849308
scan          849308
track         849308
type          847360
version       849308
dtype: int64

In [39]:
fire_M6[fire_M6['type']==0.0].count()

acq_date      817400
acq_time      817400
bright_t31    817400
brightness    817400
confidence    817400
daynight      817400
frp           817400
instrument    817400
latitude      817400
longitude     817400
scan          817400
track         817400
type          817400
version       817400
dtype: int64

In [40]:
fire_M6 = fire_M6[fire_M6['type']==0.0]

In [41]:
fire_V1.count()

acq_date      1580506
acq_time      1580506
bright_ti4    1580506
bright_ti5    1580506
confidence    1580506
frp           1580506
instrument    1580506
latitude      1580506
longitude     1580506
scan          1580506
track         1580506
type          1492433
version       1580506
daynight        88073
dtype: int64

In [42]:
fire_V1[fire_V1['type']==0.0].count()

acq_date      1353795
acq_time      1353795
bright_ti4    1353795
bright_ti5    1353795
confidence    1353795
frp           1353795
instrument    1353795
latitude      1353795
longitude     1353795
scan          1353795
track         1353795
type          1353795
version       1353795
daynight            0
dtype: int64

In [43]:
fire_V1 = fire_V1[fire_V1['type']==0.0]

In [44]:
fire_M6.drop('type', axis=1, inplace=True)
fire_V1.drop('type', axis=1, inplace=True)

In [45]:
# "version" column represents the source of data and will be dropped

In [46]:
version_M6 = fire_M6['version'].unique()
version_V1 = fire_V1['version'].unique()

In [47]:
print(version_M6)
print(version_V1)

[6.2 6.3]
[1]

In [48]:
fire_M6.drop('version', axis=1, inplace=True)
fire_V1.drop('version', axis=1, inplace=True)

In [49]:
# There are two types of instruments that measure the same parameters (at different resolutions)
# This column can be dropped

In [50]:
instrument_M6 = fire_M6['instrument'].unique()
instrument_V1 = fire_V1['instrument'].unique()

In [51]:
print(instrument_M6)
print(instrument_V1)

['MODIS']
['VIIRS']

In [52]:
fire_M6.drop('instrument', axis=1, inplace=True)
fire_V1.drop('instrument', axis=1, inplace=True)

In [53]:
fire_M6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817400 entries, 0 to 36736
Data columns (total 11 columns):
acq_date      817400 non-null object
acq_time      817400 non-null int64
bright_t31    817400 non-null float64
brightness    817400 non-null float64
confidence    817400 non-null int64
daynight      817400 non-null object
frp           817400 non-null float64
latitude      817400 non-null float64
longitude     817400 non-null float64
scan          817400 non-null float64
track         817400 non-null float64
dtypes: float64(7), int64(2), object(2)
memory usage: 74.8+ MB

In [54]:
fire_V1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1353795 entries, 6 to 87314
Data columns (total 11 columns):
acq_date      1353795 non-null object
acq_time      1353795 non-null int64
bright_ti4    1353795 non-null float64
bright_ti5    1353795 non-null float64
confidence    1353795 non-null object
frp           1353795 non-null float64
latitude      1353795 non-null float64
longitude     1353795 non-null float64
scan          1353795 non-null float64
track         1353795 non-null float64
daynight      0 non-null object
dtypes: float64(7), int64(1), object(3)
memory usage: 123.9+ MB

In [55]:
# "daynight" column can be calculated from "longitude", "latitude", "acq_date" and "acq_time"
# Therefore it is a feature that is lineary dependent of other features and must be dropped

In [56]:
fire_M6.drop('daynight', axis=1, inplace=True)
fire_V1.drop('daynight', axis=1, inplace=True)

In [57]:
# acq_type has a numpy.int64 format with the first 2 digits for hours and the last 2 digits for minutes

In [58]:
fire_V1['acq_time'][:20]

6     115
7     115
8     115
9     115
10    116
11    116
12    116
13    116
14    116
15    116
16    116
17    116
18    116
19    116
20    116
21    116
23    117
24    117
25    117
26    256
Name: acq_time, dtype: int64

In [59]:
type(fire_V1['acq_time'].iloc[0])

numpy.int64

This format will be changed to a float number with 5 decimals. The new columns is named "decimal_date"

In [60]:
def decimal_time(date):
    return np.round((int(date/100)*60 + date%100)/1440, 5)

In [61]:
np.round(1439/1440, 5)

0.99931

In [62]:
fire_M6['decimal_time'] = list(map(lambda x: decimal_time(x), fire_M6['acq_time']))
fire_V1['decimal_time'] = list(map(lambda x: decimal_time(x), fire_V1['acq_time']))

In [63]:
print(decimal_time(0), decimal_time(2359))
print(fire_M6['decimal_time'].min(), fire_M6['decimal_time'].max())
print(fire_V1['decimal_time'].min(), fire_V1['decimal_time'].max())

0.0 0.99931
0.0 0.99931
0.0 0.99931

In [64]:
fire_M6.drop('acq_time', axis=1, inplace=True)
fire_V1.drop('acq_time', axis=1, inplace=True)

In [65]:
fire_M6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817400 entries, 0 to 36736
Data columns (total 10 columns):
acq_date        817400 non-null object
bright_t31      817400 non-null float64
brightness      817400 non-null float64
confidence      817400 non-null int64
frp             817400 non-null float64
latitude        817400 non-null float64
longitude       817400 non-null float64
scan            817400 non-null float64
track           817400 non-null float64
decimal_time    817400 non-null float64
dtypes: float64(8), int64(1), object(1)
memory usage: 68.6+ MB

In [66]:
fire_V1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1353795 entries, 6 to 87314
Data columns (total 10 columns):
acq_date        1353795 non-null object
bright_ti4      1353795 non-null float64
bright_ti5      1353795 non-null float64
confidence      1353795 non-null object
frp             1353795 non-null float64
latitude        1353795 non-null float64
longitude       1353795 non-null float64
scan            1353795 non-null float64
track           1353795 non-null float64
decimal_time    1353795 non-null float64
dtypes: float64(8), object(2)
memory usage: 113.6+ MB

In both datasets, the frp column represents the Fire Radiative Power. According to the scientific paper https://agupubs.onlinelibrary.wiley.com/doi/10.1029/2009JD013769, frp is measured in MW and it depends of of the brightness of the pixel and of adjacent pixels, after substracting the radiation emitted by surrounding areas that are not influenced by the fire.

This column "frp" is the most important measurement for the fire datasets.
The brightness is useful for estimating the temperature in degrees K. Although frp is the most useful column, brightness can add value. A small area of burning trees can have a higher brightness than a larger area of burning grass - but may have a similar frp.

Brightness measurements come from different channels: 21/22 and 31 for fire_M6 and 1...4 and I5 for fire_V1. in order to keep things simple, I shall create a column "mean_brightness" with the mean value from different channels, for both datasets.

In [67]:
fire_M6.describe()

,bright_t31,brightness,confidence,frp,latitude,longitude,scan,track,decimal_time
count,817400.000000,817400.000000,817400.000000,817400.000000,817400.000000,817400.000000,817400.000000,817400.000000,817400.000000
mean,300.774716,326.649117,67.030804,44.000654,5.033748,22.666590,1.605078,1.210288,0.470902
std,8.775355,17.338682,20.514848,100.452129,23.658475,63.130978,0.802800,0.245667,0.200293
min,264.000000,300.000000,0.000000,0.000000,-53.666100,-175.074900,1.000000,1.000000,0.000000
25%,295.300000,316.200000,54.000000,11.500000,-12.326400,-7.848325,1.100000,1.000000,0.344440
50%,301.300000,323.800000,69.000000,20.800000,-0.911250,24.369950,1.300000,1.100000,0.488890
75%,306.500000,332.900000,82.000000,42.500000,13.401100,44.395800,1.800000,1.300000,0.577780
max,400.100000,506.500000,100.000000,11777.000000,73.012900,179.671900,4.800000,2.000000,0.999310

In [68]:
fire_V1.describe()

,bright_ti4,bright_ti5,frp,latitude,longitude,scan,track,decimal_time
count,1.353795e+06,1.353795e+06,1.353795e+06,1.353795e+06,1.353795e+06,1.353795e+06,1.353795e+06,1.353795e+06
mean,3.364999e+02,2.998030e+02,1.042217e+01,4.671090e+00,2.796286e+01,4.596634e-01,4.809523e-01,5.031079e-01
std,1.678221e+01,1.062362e+01,2.295652e+01,2.248233e+01,6.215099e+01,8.705421e-02,1.143738e-01,2.122116e-01
min,2.080000e+02,0.000000e+00,0.000000e+00,-8.746420e+01,-1.789793e+02,3.200000e-01,3.600000e-01,0.000000e+00
25%,3.313000e+02,2.929000e+02,3.000000e+00,-1.218388e+01,5.385705e+00,3.900000e-01,3.800000e-01,3.993100e-01
50%,3.381000e+02,3.007000e+02,5.400000e+00,2.408370e+00,2.627994e+01,4.400000e-01,4.500000e-01,4.958300e-01
75%,3.460000e+02,3.066000e+02,1.010000e+01,1.322147e+01,6.483222e+01,5.100000e-01,5.600000e-01,6.048600e-01
max,3.670000e+02,3.800000e+02,7.502900e+03,7.265458e+01,1.798701e+02,8.000000e-01,7.800000e-01,9.993100e-01

In [69]:
fire_M6['mean_brightness'] = list(round((fire_M6['brightness']+fire_M6['bright_t31'])/2, 3))

In [70]:
fire_M6.drop(['brightness', 'bright_t31'], axis=1, inplace=True)

In [71]:
fire_M6.describe()

,confidence,frp,latitude,longitude,scan,track,decimal_time,mean_brightness
count,817400.000000,817400.000000,817400.000000,817400.000000,817400.000000,817400.000000,817400.000000,817400.000000
mean,67.030804,44.000654,5.033748,22.666590,1.605078,1.210288,0.470902,313.711916
std,20.514848,100.452129,23.658475,63.130978,0.802800,0.245667,0.200293,11.596467
min,0.000000,0.000000,-53.666100,-175.074900,1.000000,1.000000,0.000000,282.600000
25%,54.000000,11.500000,-12.326400,-7.848325,1.100000,1.000000,0.344440,306.550000
50%,69.000000,20.800000,-0.911250,24.369950,1.300000,1.100000,0.488890,312.900000
75%,82.000000,42.500000,13.401100,44.395800,1.800000,1.300000,0.577780,319.450000
max,100.000000,11777.000000,73.012900,179.671900,4.800000,2.000000,0.999310,453.300000

In [72]:
fire_V1['mean_brightness'] = list(round((fire_V1['bright_ti5']+fire_V1['bright_ti4'])/2, 3))

In [73]:
fire_V1.drop(['bright_ti5', 'bright_ti4'], axis=1, inplace=True)

In [74]:
fire_V1.describe()

,frp,latitude,longitude,scan,track,decimal_time,mean_brightness
count,1.353795e+06,1.353795e+06,1.353795e+06,1.353795e+06,1.353795e+06,1.353795e+06,1.353795e+06
mean,1.042217e+01,4.671090e+00,2.796286e+01,4.596634e-01,4.809523e-01,5.031079e-01,3.181515e+02
std,2.295652e+01,2.248233e+01,6.215099e+01,8.705421e-02,1.143738e-01,2.122116e-01,1.224142e+01
min,0.000000e+00,-8.746420e+01,-1.789793e+02,3.200000e-01,3.600000e-01,0.000000e+00,1.605000e+02
25%,3.000000e+00,-1.218388e+01,5.385705e+00,3.900000e-01,3.800000e-01,3.993100e-01,3.132500e+02
50%,5.400000e+00,2.408370e+00,2.627994e+01,4.400000e-01,4.500000e-01,4.958300e-01,3.198500e+02
75%,1.010000e+01,1.322147e+01,6.483222e+01,5.100000e-01,5.600000e-01,6.048600e-01,3.257000e+02
max,7.502900e+03,7.265458e+01,1.798701e+02,8.000000e-01,7.800000e-01,9.993100e-01,3.735000e+02

In [75]:
fire_M6['confidence'].unique()

array([ 35,  81,  62,  59, 100,  80,  24,  99,  66,  60,  91,  97,  78,
        77,  67,  93,   0,  63,  28,  41,  79,  69,  57,  70,  36,  75,
        86,  88,  52,  85,  61,  58,  64,  73,  90,  37,  18,  68,  65,
        83,  94,  44,  55,  49,  76,  39,  92,  53,  29,  25,  95,  51,
        84,  38,  45,  74,  48,  50,  54,  71,  89,  82,  23,  87,  40,
        46,  16,  56,  43,  42,  14,  33,  11,  72,  96,  20,  27,  47,
        34,  26,  31,  98,  30,  13,  32,  21,  17,  19,   5,  22,   8,
         3,   2,  12,  15,   4,   6,   9,  10,   1,   7])

In [76]:
fire_V1['confidence'].unique()

array(['n', 'h', 'l'], dtype=object)

The final issue to be handled is the confidence column. In fire_M6 dataset it is measured between 0 and 100 (step 1) while in fire_V1 dataset it is a qualitative value: "n" = normal, "l" = low and "h" = high. I shall convert the fire_M6 confidence column to a qualitative column as well

In [87]:
confidence_values = fire_V1['confidence'].unique()
confidence_numbers = fire_V1['confidence'].value_counts()

In [106]:
size = fire_V1['confidence'].size

In [107]:
size

1353795

In [92]:
for item in confidence_numbers:
    print(item)

1109821
156678
87296

for fire_V1 there are:
82% observations with normal confidence,
12% observations with low confidence,
 6% observations with high confidence.
I shall use these percentages for transforming fire_M6['confidence'] to a categorical feature

In [86]:
for item in confidence_numbers:
    print(item/fire_V1['confidence'].size)

0.8197851225628696
0.11573244102689108
0.06448243641023936

In [120]:
confidence_low_normal = [confidence_numbers[1]/size, (confidence_numbers[1]+confidence_numbers[0])/size]
print(confidence_low_normal[0], confidence_low_normal[1])
low_confidence = fire_M6['confidence'].quantile(confidence_low_normal[0])
medium_confidence = fire_M6['confidence'].quantile(confidence_low_normal[1])
print('Low confidence: numeric value < ', low_confidence,
      '\nMedium confidence: numeric value < ', medium_confidence,
      '\nHigh confidence: any other value')

0.11573244102689108 0.9355175635897607
Low confidence: numeric value <  41.0
Medium confidence: numeric value <  99.0
High confidence: any other value

In [165]:
fire_M6['low_confidence'] = pd.Series(np.NaN, index=fire_M6.index)
fire_M6['medium_confidence'] = pd.Series(np.NaN, index=fire_M6.index)
fire_M6['high_confidence'] = pd.Series(np.NaN, index=fire_M6.index)

In [166]:
fire_M6.loc[fire_M6['confidence'] < low_confidence, 'low_confidence'] = True
fire_M6.loc[fire_M6['confidence'] >= low_confidence, 'low_confidence'] = False

In [167]:
fire_M6.loc[fire_M6['confidence'] >= medium_confidence, 'high_confidence'] = True
fire_M6.loc[fire_M6['confidence'] < medium_confidence, 'high_confidence'] = False

In [168]:
fire_M6['medium_confidence'] = ~(fire_M6['low_confidence'] | fire_M6['high_confidence'])

In [171]:
fire_M6.drop('confidence', axis=1, inplace=True)

In [184]:
fire_M6.head()

,acq_date,frp,latitude,longitude,decimal_time,mean_brightness,low_confidence,medium_confidence,high_confidence
0,2000-11-01,26.8,-20.8650,146.3039,0.01181,317.00,True,False,False
1,2000-11-01,68.8,-20.5602,146.0194,0.01181,319.95,False,True,False
2,2000-11-01,7.1,-24.3197,151.5619,0.01250,311.15,False,True,False
3,2000-11-01,10.5,-18.0912,128.9856,0.07986,327.20,False,True,False
4,2000-11-01,100.3,-25.5102,125.4199,0.08125,342.75,False,False,True

In [173]:
fire_V1['low_confidence'] = pd.Series(np.NaN, index=fire_V1.index)
fire_V1['medium_confidence'] = pd.Series(np.NaN, index=fire_V1.index)
fire_V1['high_confidence'] = pd.Series(np.NaN, index=fire_V1.index)

In [180]:
fire_V1['low_confidence'] = (fire_V1['confidence']=='l')
fire_V1['medium_confidence'] = (fire_V1['confidence']=='n')
fire_V1['high_confidence'] = (fire_V1['confidence']=='h')

In [182]:
fire_V1.drop('confidence', axis=1, inplace=True)

In [183]:
fire_V1.head()

,acq_date,frp,latitude,longitude,decimal_time,mean_brightness,low_confidence,medium_confidence,high_confidence
6,2012-01-31,0.9,11.81456,4.97983,0.05208,298.45,False,True,False
7,2012-01-31,1.3,10.39675,13.45527,0.05208,302.25,False,True,False
8,2012-01-31,1.9,13.73985,13.83765,0.05208,301.80,False,True,False
9,2012-01-31,1.1,10.61242,13.48132,0.05208,298.25,False,True,False
10,2012-01-31,1.8,9.41623,-2.80546,0.05278,299.55,False,True,False

In [283]:
# Save fire_M6 dataframe to a file, load it and compare it with the saved dataframe
fire_M6.to_csv('./Data/fire/fire_M6_final.csv',index=False)
fire_M6_new_df=pd.read_csv('./Data/fire/fire_M6_final.csv', index_col = False)

In [285]:
fire_M6.head()

,acq_date,frp,latitude,longitude,decimal_time,mean_brightness,low_confidence,medium_confidence,high_confidence
0,2000-11-01,26.8,-20.8650,146.3039,0.01181,317.00,True,False,False
1,2000-11-01,68.8,-20.5602,146.0194,0.01181,319.95,False,True,False
2,2000-11-01,7.1,-24.3197,151.5619,0.01250,311.15,False,True,False
3,2000-11-01,10.5,-18.0912,128.9856,0.07986,327.20,False,True,False
4,2000-11-01,100.3,-25.5102,125.4199,0.08125,342.75,False,False,True

In [286]:
fire_M6_new_df.head()

,acq_date,frp,latitude,longitude,decimal_time,mean_brightness,low_confidence,medium_confidence,high_confidence
0,2000-11-01,26.8,-20.8650,146.3039,0.01181,317.00,True,False,False
1,2000-11-01,68.8,-20.5602,146.0194,0.01181,319.95,False,True,False
2,2000-11-01,7.1,-24.3197,151.5619,0.01250,311.15,False,True,False
3,2000-11-01,10.5,-18.0912,128.9856,0.07986,327.20,False,True,False
4,2000-11-01,100.3,-25.5102,125.4199,0.08125,342.75,False,False,True

In [287]:
fire_M6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817400 entries, 0 to 36736
Data columns (total 9 columns):
acq_date             817400 non-null object
frp                  817400 non-null float64
latitude             817400 non-null float64
longitude            817400 non-null float64
decimal_time         817400 non-null float64
mean_brightness      817400 non-null float64
low_confidence       817400 non-null bool
medium_confidence    817400 non-null bool
high_confidence      817400 non-null bool
dtypes: bool(3), float64(5), object(1)
memory usage: 66.0+ MB

In [288]:
fire_M6_new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 817400 entries, 0 to 817399
Data columns (total 9 columns):
acq_date             817400 non-null object
frp                  817400 non-null float64
latitude             817400 non-null float64
longitude            817400 non-null float64
decimal_time         817400 non-null float64
mean_brightness      817400 non-null float64
low_confidence       817400 non-null bool
medium_confidence    817400 non-null bool
high_confidence      817400 non-null bool
dtypes: bool(3), float64(5), object(1)
memory usage: 39.8+ MB

In [289]:
# Save fire_V1 dataframe to a file, load it and compare it with the saved dataframe
fire_V1.to_csv('./Data/fire/fire_V1_final.csv',index=False)
fire_V1_new_df=pd.read_csv('./Data/fire/fire_V1_final.csv', index_col = False)

In [290]:
fire_V1.head()

,acq_date,frp,latitude,longitude,decimal_time,mean_brightness,low_confidence,medium_confidence,high_confidence
6,2012-01-31,0.9,11.81456,4.97983,0.05208,298.45,False,True,False
7,2012-01-31,1.3,10.39675,13.45527,0.05208,302.25,False,True,False
8,2012-01-31,1.9,13.73985,13.83765,0.05208,301.80,False,True,False
9,2012-01-31,1.1,10.61242,13.48132,0.05208,298.25,False,True,False
10,2012-01-31,1.8,9.41623,-2.80546,0.05278,299.55,False,True,False

In [291]:
fire_V1_new_df.head()

,acq_date,frp,latitude,longitude,decimal_time,mean_brightness,low_confidence,medium_confidence,high_confidence
0,2012-01-31,0.9,11.81456,4.97983,0.05208,298.45,False,True,False
1,2012-01-31,1.3,10.39675,13.45527,0.05208,302.25,False,True,False
2,2012-01-31,1.9,13.73985,13.83765,0.05208,301.80,False,True,False
3,2012-01-31,1.1,10.61242,13.48132,0.05208,298.25,False,True,False
4,2012-01-31,1.8,9.41623,-2.80546,0.05278,299.55,False,True,False

In [292]:
fire_V1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1353795 entries, 6 to 87314
Data columns (total 9 columns):
acq_date             1353795 non-null object
frp                  1353795 non-null float64
latitude             1353795 non-null float64
longitude            1353795 non-null float64
decimal_time         1353795 non-null float64
mean_brightness      1353795 non-null float64
low_confidence       1353795 non-null bool
medium_confidence    1353795 non-null bool
high_confidence      1353795 non-null bool
dtypes: bool(3), float64(5), object(1)
memory usage: 76.2+ MB

In [293]:
fire_V1_new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1353795 entries, 0 to 1353794
Data columns (total 9 columns):
acq_date             1353795 non-null object
frp                  1353795 non-null float64
latitude             1353795 non-null float64
longitude            1353795 non-null float64
decimal_time         1353795 non-null float64
mean_brightness      1353795 non-null float64
low_confidence       1353795 non-null bool
medium_confidence    1353795 non-null bool
high_confidence      1353795 non-null bool
dtypes: bool(3), float64(5), object(1)
memory usage: 65.8+ MB

CO2

In [185]:
ls -ltrh ./Data/co2

total 168
-rw-r--r--@ 1 bogdan  staff    48K Nov 11 21:44 monthly_in_situ_co2.csv
-rw-r--r--@ 1 bogdan  staff    29K Nov 21 18:58 co2_mm_mlo.csv

In [186]:
co2_df = pd.read_csv('./Data/co2/co2_mm_mlo.csv')

In [187]:
co2_df.head()

   Year  Month  decimal_date  average  interpolated   trend  days_season_corr
0  1958      3      1958.208   315.71        315.71  314.62                -1
1  1958      4      1958.292   317.45        317.45  315.29                -1
2  1958      5      1958.375   317.50        317.50  314.71                -1
3  1958      6      1958.458   -99.99        317.10  314.85                -1
4  1958      7      1958.542   315.86        315.86  314.98                -1

Drop useless columns

In [188]:
co2_df.drop(['average', 'days_season_corr'], axis=1, inplace=True)

In [220]:
co2_df = co2_df.rename(columns={"interpolated": "CO2_ppm"})

In [221]:
co2_df.head()

   Year  Month  decimal_date  CO2_ppm   trend
0  1958      3      1958.208   315.71  314.62
1  1958      4      1958.292   317.45  315.29
2  1958      5      1958.375   317.50  314.71
3  1958      6      1958.458   317.10  314.85
4  1958      7      1958.542   315.86  314.98

In [222]:
co2_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 5 columns):
Year            740 non-null int64
Month           740 non-null int64
decimal_date    740 non-null float64
CO2_ppm         740 non-null float64
trend           740 non-null float64
dtypes: float64(3), int64(2)
memory usage: 29.0 KB

In [279]:
co2_df.to_csv('./Data/CO2/CO2_final.csv',index=False)
new_df=pd.read_csv('./Data/CO2/CO2_final.csv', index_col = False)

In [282]:
new_df.head()

   Year  Month  decimal_date  CO2_ppm   trend
0  1958      3      1958.208   315.71  314.62
1  1958      4      1958.292   317.45  315.29
2  1958      5      1958.375   317.50  314.71
3  1958      6      1958.458   317.10  314.85
4  1958      7      1958.542   315.86  314.98

ICE

In [294]:
ls -ltrh Data/ice/*.csv

-rw-rw-rw-  1 bogdan  staff   2.2M Oct 24 11:58 Data/ice/N_seaice_extent_daily_v3.0.csv
-rw-rw-rw-  1 bogdan  staff   2.2M Oct 24 12:03 Data/ice/S_seaice_extent_daily_v3.0.csv

In [295]:
less ./Data/ice/N_seaice_extent_daily_v3.0.csv

In [296]:
less ./Data/ice/S_seaice_extent_daily_v3.0.csv

In [297]:
# Read the two files
ice_north_df = pd.read_csv('Data/ice/N_seaice_extent_daily_v3.0.csv')
ice_south_df = pd.read_csv('Data/ice/S_seaice_extent_daily_v3.0.csv')

In [298]:
ice_north_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13322 entries, 0 to 13321
Data columns (total 6 columns):
Year            13322 non-null object
 Month          13322 non-null object
 Day            13322 non-null object
     Extent     13322 non-null object
    Missing     13322 non-null object
 Source Data    13322 non-null object
dtypes: object(6)
memory usage: 624.5+ KB

In [299]:
ice_north_df.head()

,Year,Month,Day,Extent,Missing,Source Data
0,YYYY,MM,DD,10^6 sq km,10^6 sq km,Source data product web sites: http://nsidc.o...
1,1978,10,26,10.231,0.000,['ftp://sidads.colorado.edu/pub/DATASETS/nsid...
2,1978,10,28,10.420,0.000,['ftp://sidads.colorado.edu/pub/DATASETS/nsid...
3,1978,10,30,10.557,0.000,['ftp://sidads.colorado.edu/pub/DATASETS/nsid...
4,1978,11,01,10.670,0.000,['ftp://sidads.colorado.edu/pub/DATASETS/nsid...

In [300]:
ice_north_df.columns

Index(['Year', ' Month', ' Day', '     Extent', '    Missing', ' Source Data'], dtype='object')

In [301]:
ice_south_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13322 entries, 0 to 13321
Data columns (total 6 columns):
Year            13322 non-null object
 Month          13322 non-null object
 Day            13322 non-null object
     Extent     13322 non-null object
    Missing     13322 non-null object
 Source Data    13322 non-null object
dtypes: object(6)
memory usage: 624.5+ KB

In [302]:
ice_south_df.head()

,Year,Month,Day,Extent,Missing,Source Data
0,YYYY,MM,DD,10^6 sq km,10^6 sq km,Source data product web sites: http://nsidc.o...
1,1978,10,26,17.624,0.000,['ftp://sidads.colorado.edu/pub/DATASETS/nsid...
2,1978,10,28,17.803,0.000,['ftp://sidads.colorado.edu/pub/DATASETS/nsid...
3,1978,10,30,17.670,0.000,['ftp://sidads.colorado.edu/pub/DATASETS/nsid...
4,1978,11,01,17.527,0.000,['ftp://sidads.colorado.edu/pub/DATASETS/nsid...

In [303]:
ice_south_df.columns

Index(['Year', ' Month', ' Day', '     Extent', '    Missing', ' Source Data'], dtype='object')

In [304]:
# There are a few records for 'S_seaice_extent_daily_v3.0.csv' with missing areas but these are less than 0.001
# These missing values will just be ignored
ice_south_df[1::]['    Missing'].astype(float)[ice_south_df[1::]['    Missing'].astype(float)!=0.]

13040    0.001
13188    0.001
13214    0.001
13302    0.002
13310    0.001
Name:     Missing, dtype: float64

In [305]:
# No missing areas for 'S_seaice_extent_daily_v3.0.csv'
ice_north_df[1::]['    Missing'].astype(float)[ice_north_df[1::]['    Missing'].astype(float)!=0.]

Series([], Name:     Missing, dtype: float64)

In [306]:
# drop useless columns
ice_north_df.drop(['    Missing', ' Source Data'], axis=1, inplace=True)
ice_south_df.drop(['    Missing', ' Source Data'], axis=1, inplace=True)

In [307]:
#Create a date column for N and S, wth the format 'YYYY-MM-DD'
ice_north_df['acq_date'] = ice_north_df.iloc[:,0].str.strip() + \
'-' + ice_north_df.iloc[:,1].str.strip() + \
'-' + ice_north_df.iloc[:,2].str.strip()
ice_south_df['acq_date'] = ice_south_df.iloc[:,0].str.strip() + \
'-' + ice_south_df.iloc[:,1].str.strip() + \
'-' + ice_south_df.iloc[:,2].str.strip()

In [308]:
ice_north_df.head()

   Year   Month   Day       Extent    acq_date
0  YYYY      MM    DD   10^6 sq km  YYYY-MM-DD
1  1978      10    26       10.231  1978-10-26
2  1978      10    28       10.420  1978-10-28
3  1978      10    30       10.557  1978-10-30
4  1978      11    01       10.670  1978-11-01

In [309]:
# Drop first line and the line for 1978-10-26 (there is no regional data in the Excel file for that date)
ice_north_df.drop(ice_north_df.index[[0, 1]], inplace=True)

In [310]:
ice_north_df.head()

   Year   Month   Day       Extent    acq_date
2  1978      10    28       10.420  1978-10-28
3  1978      10    30       10.557  1978-10-30
4  1978      11    01       10.670  1978-11-01
5  1978      11    03       10.777  1978-11-03
6  1978      11    05       10.968  1978-11-05

In [311]:
ice_south_df.head()

   Year   Month   Day       Extent    acq_date
0  YYYY      MM    DD   10^6 sq km  YYYY-MM-DD
1  1978      10    26       17.624  1978-10-26
2  1978      10    28       17.803  1978-10-28
3  1978      10    30       17.670  1978-10-30
4  1978      11    01       17.527  1978-11-01

In [312]:
ice_south_df.drop(ice_south_df.index[[0, 1]], inplace=True)

In [313]:
ice_south_df.head()

   Year   Month   Day       Extent    acq_date
2  1978      10    28       17.803  1978-10-28
3  1978      10    30       17.670  1978-10-30
4  1978      11    01       17.527  1978-11-01
5  1978      11    03       17.486  1978-11-03
6  1978      11    05       17.343  1978-11-05

In [314]:
# create different column names for the two files
ice_north_df['extent_north'] = ice_north_df.iloc[:,3].str.strip().astype(float)
ice_south_df['extent_south'] = ice_south_df.iloc[:,3].str.strip().astype(float)

In [315]:
# Drop useless columns
ice_north_df = ice_north_df.drop(ice_north_df.columns[[0, 1, 2, 3]], axis=1)
ice_south_df = ice_south_df.drop(ice_south_df.columns[[0, 1, 2, 3]], axis=1)

In [316]:
# Set the same index for the two dataframes
ice_north_df.set_index('acq_date', inplace=True)
ice_south_df.set_index('acq_date', inplace=True)

In [317]:
# Concatenate the two dataframes
ice_df = pd.concat([ice_north_df, ice_south_df], axis=1)

In [318]:
ice_df

            extent_north  extent_south
acq_date
1978-10-28        10.420        17.803
1978-10-30        10.557        17.670
1978-11-01        10.670        17.527
1978-11-03        10.777        17.486
1978-11-05        10.968        17.343
1978-11-07        11.080        17.157
1978-11-09        11.189        17.028
1978-11-11        11.314        16.815
1978-11-13        11.460        16.371
1978-11-15        11.539        16.176
1978-11-17        11.696        15.520
1978-11-19        11.870        15.267
1978-11-21        12.053        15.027
1978-11-23        12.274        14.681
1978-11-25        12.441        14.449
1978-11-27        12.662        13.980
1978-11-29        12.684        13.619
1978-12-01        12.725        13.330
1978-12-03        12.660        13.097
1978-12-05        12.785        12.829
1978-12-07        13.051        12.436
1978-12-09        13.143        11.963
1978-12-11        13.437        11.652
1978-12-13        13.603        11.148
1978-12-15        13.649        10.664
1978-12-17        13.807        10.239
1978-12-19        13.892         9.758
1978-12-21        13.996         9.362
1978-12-23        14.189         8.706
1978-12-25        14.268         8.362
...                  ...           ...
2019-09-23         4.349        18.326
2019-09-24         4.362        18.332
2019-09-25         4.416        18.342
2019-09-26         4.470        18.408
2019-09-27         4.504        18.364
2019-09-28         4.546        18.356
2019-09-29         4.555        18.428
2019-09-30         4.631        18.462
2019-10-01         4.794        18.363
2019-10-02         4.886        18.297
2019-10-03         4.818        18.278
2019-10-04         4.825        18.338
2019-10-05         4.836        18.314
2019-10-06         4.883        18.292
2019-10-07         4.907        18.304
2019-10-08         4.946        18.252
2019-10-09         4.950        18.161
2019-10-10         4.996        18.164
2019-10-11         4.998        18.182
2019-10-12         5.107        18.178
2019-10-13         5.109        18.203
2019-10-14         5.150        18.139
2019-10-15         5.224        18.084
2019-10-16         5.262        18.010
2019-10-17         5.374        17.958
2019-10-18         5.539        17.917
2019-10-19         5.651        17.840
2019-10-20         5.687        17.737
2019-10-21         5.781        17.680
2019-10-22         5.869        17.600

[13320 rows x 2 columns]

In [319]:
ice_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13320 entries, 1978-10-28 to 2019-10-22
Data columns (total 2 columns):
extent_north    13320 non-null float64
extent_south    13320 non-null float64
dtypes: float64(2)
memory usage: 312.2+ KB

In [320]:
ice_df.describe()

       extent_north  extent_south
count  13320.000000  13320.000000
mean      11.312141     11.677272
std        3.288076      5.640254
min        3.340000      2.080000
25%        8.572750      6.071750
50%       12.010000     12.632500
75%       14.220000     17.240250
max       16.635000     20.201000

In [321]:
# Check for null values
ice_df.isnull().sum().sum()

0

ICE Regional

In [322]:
ls -ltrh Data/ice/Sea_Ice_Index_Regional_Daily_Data_G02135_v3.0.xlsx

-rw-rw-rw-@ 1 bogdan  staff   3.2M Oct 24 12:05 Data/ice/Sea_Ice_Index_Regional_Daily_Data_G02135_v3.0.xlsx

In [323]:
# Read Ice Regional file
ice_regional_df = pd.ExcelFile('Data/ice/Sea_Ice_Index_Regional_Daily_Data_G02135_v3.0.xlsx')
ice_regional_df.sheet_names

['Baffin-Area-km^2',
 'Baffin-Extent-km^2',
 'Barents-Area-km^2',
 'Barents-Extent-km^2',
 'Beaufort-Area-km^2',
 'Beaufort-Extent-km^2',
 'Bering-Area-km^2',
 'Bering-Extent-km^2',
 'CanadianArchipelago-Area-km^2',
 'CanadianArchipelago-Extent-km^2',
 'Central-Arctic-Area-km^2',
 'Central-Arctic-Extent-km^2',
 'Chukchi-Area-km^2',
 'Chukchi-Extent-km^2',
 'East-Siberian-Area-km^2',
 'East-Siberian-Extent-km^2',
 'Greenland-Area-km^2',
 'Greenland-Extent-km^2',
 'Hudson-Area-km^2',
 'Hudson-Extent-km^2',
 'Kara-Area-km^2',
 'Kara-Extent-km^2',
 'Laptev-Area-km^2',
 'Laptev-Extent-km^2',
 'Okhotsk-Area-km^2',
 'Okhotsk-Extent-km^2',
 'St-Lawrence-Area-km^2',
 'St-Lawrence-Extent-km^2',
 'Documentation']

In [324]:
# Check the structure of the excel file
# The month name is written only once, for the first day on each month
test_df=ice_regional_df.parse('Baffin-Extent-km^2')
test_df.head(35)

,month,day,1978,1979,1980,1981,1982,1983,1984,1985,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,January,1,NaN,903186.035,1013769.883,1033270.716,1023094.590,1347723.970,1309901.559,1341199.586,...,795608.107,657280.210,970785.241,836904.594,1042165.178,919851.203,1107737.558,1043957.619,852411.168,917527.054
1,NaN,2,NaN,928997.908,999873.492,1050801.408,1021066.245,1372848.377,1350548.340,1360997.397,...,790348.007,665528.563,988757.101,846580.138,1045929.234,952044.039,1118000.089,1041095.765,872204.561,942891.608
2,NaN,3,NaN,947432.787,1000897.098,1041880.956,1013746.335,1417371.453,1372754.604,1376789.972,...,786922.827,670551.044,999673.091,853340.629,1044428.577,984973.384,1126274.372,1039445.720,891754.362,961108.705
3,NaN,4,NaN,974928.335,997687.620,1037514.096,1030366.773,1460409.917,1392297.001,1398633.692,...,784717.294,670551.024,1006333.892,863309.928,1047832.206,1008812.804,1131821.502,1040792.446,912064.230,985959.419
4,NaN,5,NaN,1005270.542,1015031.822,1018820.331,1040308.602,1491475.904,1431611.850,1421457.076,...,787263.871,668051.543,1010444.124,877502.215,1047953.087,1031026.911,1137901.759,1055976.206,926768.633,1002583.776
5,NaN,6,NaN,1020866.519,1026332.269,1002736.428,1039142.313,1530012.742,1441697.272,1425325.650,...,783989.956,666964.802,1012726.638,896387.766,1045552.610,1041425.668,1143122.799,1073472.421,928374.126,1019351.792
6,NaN,7,NaN,1040988.952,1069400.637,1010485.255,1050208.692,1531359.065,1446624.956,1437691.966,...,784935.765,659703.793,1012993.471,918865.668,1051147.246,1051546.883,1146589.922,1077058.157,921234.302,1030276.454
7,NaN,8,NaN,1064087.127,1102628.800,1003707.856,1033289.669,1543829.795,1439200.445,1416160.241,...,792010.474,652593.179,1020406.891,937745.734,1054370.214,1067754.241,1147676.338,1081727.365,913151.686,1041308.047
8,NaN,9,NaN,1081170.976,1108456.284,1032386.264,1018130.679,1559868.703,1443109.770,1403079.796,...,800453.302,651912.342,1037356.960,961546.402,1054033.087,1090845.365,1147695.498,1082576.027,906364.321,1045206.417
9,NaN,10,NaN,1094338.710,1137824.314,1057862.996,1019872.450,1562999.115,1442072.753,1393712.912,...,811319.869,655219.873,1055413.543,979023.324,1063678.220,1107823.450,1154062.400,1087178.770,908123.416,1053270.988
10,NaN,11,NaN,1115478.828,1150680.946,1079019.831,1011403.807,1562883.270,1432175.072,1374037.969,...,827764.078,658809.939,1075239.074,996518.949,1076296.300,1126988.727,1159698.752,1098357.993,922973.662,1051437.981
11,NaN,12,NaN,1111839.693,1148252.733,1105538.292,1017757.970,1577299.050,1464280.821,1387542.638,...,841889.264,664481.135,1090785.535,1012884.732,1082069.293,1149237.748,1155503.249,1113087.141,945363.833,1047201.590
12,NaN,13,NaN,1112617.801,1158648.655,1094958.742,1026911.143,1563979.165,1484245.519,1394765.562,...,852740.234,675026.121,1109019.710,1030318.716,1088814.425,1165916.615,1155102.139,1125214.593,968475.618,1043107.481
13,NaN,14,NaN,1124565.065,1177917.356,1097566.572,1033428.113,1549995.488,1524252.092,1400512.357,...,866760.564,685033.347,1123715.036,1035464.081,1096548.926,1179502.825,1151818.501,1134567.571,994581.580,1041338.517
14,NaN,15,NaN,1126510.508,1159277.759,1091977.895,1038464.175,1559086.823,1566378.779,1413278.963,...,876107.949,695613.762,1133730.835,1040259.405,1101672.942,1193523.385,1135733.053,1142665.349,1019479.519,1041441.281
15,NaN,16,NaN,1152426.282,1150719.533,1077300.092,1065591.379,1557304.444,1592367.361,1408237.657,...,882726.899,704288.027,1138987.373,1039179.620,1103827.992,1209037.516,1121082.867,1148883.497,1045355.845,1048288.762
16,NaN,17,NaN,1176358.712,1168435.777,1107100.780,1083153.921,1556090.171,1624304.882,1405080.496,...,898160.414,719779.027,1149217.384,1042684.678,1107567.011,1216408.199,1111834.244,1162622.239,1067754.117,1061481.678
17,NaN,18,NaN,1169864.835,1162933.415,1123751.350,1094769.774,1565465.560,1636924.163,1385457.803,...,914079.484,729338.933,1157149.448,1049490.079,1119120.695,1216948.804,1096210.863,1178388.083,1087819.925,1076947.409
18,NaN,19,NaN,1180567.455,1163623.486,1145882.836,1118923.635,1548193.912,1653253.626,1372183.731,...,928137.614,741037.814,1162993.737,1062392.156,1131911.669,1214587.004,1082603.939,1192438.733,1102783.621,1090879.803
19,NaN,20,NaN,1166321.412,1184435.947,1178423.983,1110023.128,1533656.121,1667378.800,1360889.720,...,942960.619,747970.057,1169215.258,1080969.129,1139258.205,1215309.415,1082920.926,1204224.329,1107199.600,1101234.358
20,NaN,21,NaN,1147353.203,1164850.541,1166852.608,1105111.798,1553095.529,1678895.938,1342257.058,...,956691.777,751735.789,1174371.986,1099797.403,1146833.207,1207592.305,1081895.088,1213315.463,1104784.706,1114877.076
21,NaN,22,NaN,1139970.065,1145341.679,1166927.833,1090775.425,1552812.482,1702492.345,1345366.106,...,968053.419,757090.466,1176298.097,1108854.158,1154940.662,1203218.070,1084707.192,1213511.808,1095730.740,1122137.530
22,NaN,23,NaN,1131516.557,1141814.884,1181266.059,1077162.397,1564919.480,1722657.155,1344942.952,...,979618.932,760086.153,1174943.661,1108781.308,1160472.073,1209717.313,1090105.346,1213684.859,1087082.599,1127397.768
23,NaN,24,NaN,1098805.043,1130220.512,1176826.186,1084713.577,1590553.912,1745760.242,1354592.450,...,988642.233,758916.172,1174584.626,1104148.476,1162687.004,1216239.434,1108211.198,1218514.284,1087159.042,1136866.030
24,NaN,25,NaN,1079292.901,1120521.783,1173188.050,1080959.309,1598966.831,1770825.788,1362737.825,...,998168.178,756053.130,1175105.621,1093194.405,1176532.319,1222299.826,1129521.968,1213332.392,1085855.818,1146275.730
25,NaN,26,NaN,1062813.539,1117942.810,1187927.147,1109519.711,1602463.074,1765318.672,1378492.687,...,1016780.133,750901.466,1179405.604,1084022.108,1199300.410,1225784.467,1158138.304,1204140.658,1087197.772,1146476.067
26,NaN,27,NaN,1031618.415,1084956.699,1191528.808,1133228.227,1619582.524,1773135.429,1391946.930,...,1019579.748,743243.491,1178647.080,1084328.848,1203674.366,1230598.871,1185103.081,1199267.188,1097370.419,1148949.263
27,NaN,28,NaN,1042240.105,1060054.401,1182321.956,1137053.728,1634807.048,1748331.591,1404813.365,...,1012640.369,744703.998,1180783.847,1093363.485,1203401.092,1228340.888,1216190.919,1191456.905,1109909.840,1156471.253
28,NaN,29,NaN,1046669.150,1066889.494,1193858.762,1155672.623,1634577.371,1726514.178,1420274.324,...,1012459.607,741870.711,1179214.285,1106162.911,1205910.682,1222368.464,1239860.347,1175193.378,1117482.149,1159555.448
29,NaN,30,NaN,1051752.985,1049772.079,1207832.253,1167786.038,1643969.721,1727447.906,1401240.066,...,1009524.805,747395.968,1178448.057,1125724.950,1201058.810,1220335.816,1253978.427,1166898.292,1136695.325,1156420.704
30,NaN,31,NaN,1062702.070,1049642.940,1211544.654,1168358.799,1654357.165,1714019.639,1396858.893,...,998324.325,761920.163,1174793.326,1137014.355,1190335.341,1226567.334,1255704.844,1168302.218,1155494.920,1158408.206
31,February,1,NaN,1054385.291,1064972.172,1217950.916,1192111.249,1654625.036,1723316.185,1387495.302,...,1001579.351,775833.395,1178926.331,1145448.111,1195196.607,1228186.984,1261619.464,1177019.019,1168743.025,1161324.087
32,NaN,2,NaN,1049836.193,1069676.189,1238532.525,1215814.509,1660643.467,1735612.320,1365969.835,...,1018576.855,788107.259,1183602.489,1146749.759,1203947.481,1229635.387,1263739.142,1189820.504,1183574.969,1162844.588
33,NaN,3,NaN,1049938.641,1064234.442,1249332.601,1237257.336,1673906.192,1752816.889,1367951.738,...,1030021.107,804247.954,1195652.626,1151406.725,1215776.560,1236824.877,1262246.834,1210453.316,1194377.518,1163904.622
34,NaN,4,NaN,1043947.633,1080810.567,1254942.448,1259879.571,1672061.477,1764567.652,1370341.833,...,1042820.974,819728.784,1209030.044,1156994.445,1231422.250,1239081.025,1259697.469,1234124.947,1202772.650,1171140.411

In [325]:
# Ignore last tab ('Documentation')
regional_dict = dict()
for sheet in ice_regional_df.sheet_names[:-1]:
    regional_dict[sheet]=ice_regional_df.parse(sheet)

In [326]:
regional_dict.keys()

dict_keys(['Baffin-Area-km^2', 'Baffin-Extent-km^2', 'Barents-Area-km^2', 'Barents-Extent-km^2', 'Beaufort-Area-km^2', 'Beaufort-Extent-km^2', 'Bering-Area-km^2', 'Bering-Extent-km^2', 'CanadianArchipelago-Area-km^2', 'CanadianArchipelago-Extent-km^2', 'Central-Arctic-Area-km^2', 'Central-Arctic-Extent-km^2', 'Chukchi-Area-km^2', 'Chukchi-Extent-km^2', 'East-Siberian-Area-km^2', 'East-Siberian-Extent-km^2', 'Greenland-Area-km^2', 'Greenland-Extent-km^2', 'Hudson-Area-km^2', 'Hudson-Extent-km^2', 'Kara-Area-km^2', 'Kara-Extent-km^2', 'Laptev-Area-km^2', 'Laptev-Extent-km^2', 'Okhotsk-Area-km^2', 'Okhotsk-Extent-km^2', 'St-Lawrence-Area-km^2', 'St-Lawrence-Extent-km^2'])

In [327]:
regional_dict['Baffin-Area-km^2']

,month,day,1978,1979,1980,1981,1982,1983,1984,1985,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,January,1,NaN,677547.703,845683.988,831565.263,787287.378,1169342.437,1078749.266,1062856.098,...,595951.256,501285.997,791899.698,663457.962,837240.367,732812.444,881084.098,823487.089,702035.905,746880.532
1,NaN,2,NaN,700084.156,829620.808,854534.647,796243.810,1195146.784,1106676.585,1085802.451,...,590370.369,500635.821,811486.519,683095.271,836211.440,752802.009,902299.171,819038.661,721057.378,766064.811
2,NaN,3,NaN,720887.777,823613.861,852476.913,804236.368,1220321.638,1118567.884,1111163.813,...,590993.097,500511.602,827528.849,700058.956,836711.378,779433.092,923286.442,814502.357,743894.559,783298.934
3,NaN,4,NaN,735098.275,809752.946,853556.592,807509.957,1242555.366,1140125.320,1141988.695,...,595130.888,497089.592,844754.953,713693.618,838393.908,798901.939,937252.304,812677.855,767072.209,802206.398
4,NaN,5,NaN,754338.165,819375.022,841279.513,814106.904,1260648.001,1172885.708,1167666.807,...,603640.935,490688.361,860541.372,726486.039,833940.445,814070.564,943778.075,832308.872,782108.664,817302.434
5,NaN,6,NaN,761438.929,825109.571,832543.399,819019.984,1283752.309,1182918.366,1165526.650,...,611249.303,491809.787,874965.137,744403.963,833732.779,822909.105,944675.470,845652.740,783014.836,830871.334
6,NaN,7,NaN,769579.863,833335.356,830258.013,821451.639,1299176.690,1193111.938,1182442.395,...,621746.352,494168.916,884056.986,762800.296,846030.160,834487.056,943114.809,849642.994,775116.723,836828.283
7,NaN,8,NaN,796852.863,844203.052,821206.297,805522.879,1313429.363,1197284.571,1153923.236,...,634884.534,494401.636,893923.846,771992.702,843646.026,849002.579,939991.847,856784.530,762819.840,841274.989
8,NaN,9,NaN,813519.659,848927.900,835694.143,801255.751,1331548.773,1204306.760,1129065.625,...,649274.206,498482.704,906288.033,782291.116,837294.071,870870.362,941746.052,867481.069,748945.585,842730.257
9,NaN,10,NaN,838432.098,854082.263,845178.539,789880.919,1348906.524,1220694.716,1112886.199,...,665990.370,507214.906,915939.838,789849.222,836797.909,892109.836,953905.574,875138.915,742212.875,849309.718
10,NaN,11,NaN,869827.918,877851.807,849733.450,770398.306,1349228.646,1229550.233,1088706.132,...,682688.539,515114.726,920676.633,796577.785,835895.069,912267.598,965620.008,894622.851,743396.361,853902.734
11,NaN,12,NaN,873497.826,891884.247,861756.555,768155.616,1358830.243,1258945.079,1100664.126,...,700298.607,522407.572,923747.672,807738.284,834276.989,930390.729,962895.658,911723.067,756508.749,861291.728
12,NaN,13,NaN,884547.308,902499.924,866290.348,765400.744,1343397.771,1285602.700,1102553.730,...,715076.273,529826.852,923394.662,825113.883,845015.541,946146.282,956377.751,923683.326,776116.869,869355.300
13,NaN,14,NaN,880926.523,924561.088,867100.604,790398.908,1331202.860,1306603.576,1124939.306,...,729978.812,535582.187,923946.047,837795.262,864271.028,959426.911,949388.678,930368.232,799853.671,879602.898
14,NaN,15,NaN,877261.296,915229.806,882328.268,802032.735,1341051.038,1333170.050,1147145.285,...,740794.187,538495.697,920529.316,845967.150,880410.352,969185.249,931112.089,935031.468,822672.112,885182.964
15,NaN,16,NaN,888298.583,910149.261,894070.765,830804.148,1336640.112,1349362.420,1142006.540,...,748606.324,541232.519,916314.457,846300.479,891374.037,982152.969,913954.419,939454.425,846315.364,893579.752
16,NaN,17,NaN,892029.053,915904.163,923814.089,864371.105,1353005.569,1365176.244,1150719.753,...,753752.893,546844.163,915907.923,846508.365,893505.940,991427.834,907195.658,955747.740,864922.568,907559.700
17,NaN,18,NaN,884865.060,911990.606,948042.166,871872.992,1373241.939,1381772.357,1127870.699,...,759842.727,552704.627,921610.784,852206.004,902899.507,986529.024,899708.640,963927.711,879423.830,919498.788
18,NaN,19,NaN,890455.115,919491.320,960507.568,887611.870,1351280.174,1398355.871,1106950.820,...,766209.476,560557.414,931003.219,859365.191,909422.357,976972.519,888392.115,969063.607,889552.679,926988.221
19,NaN,20,NaN,896486.521,930953.358,984369.553,876481.766,1346546.564,1417255.915,1093255.523,...,773138.824,570553.818,943809.220,870177.737,913572.868,972404.034,883500.343,975619.922,893628.066,935039.725
20,NaN,21,NaN,889543.204,924969.562,970879.607,870549.161,1343152.263,1435010.293,1074018.760,...,775059.383,580603.435,960342.977,883651.024,917076.659,964763.443,877472.304,981779.349,895873.267,948381.924
21,NaN,22,NaN,881768.128,923747.360,964669.042,861858.334,1321860.154,1459753.297,1075248.602,...,776994.593,592134.274,974538.259,885668.849,917361.436,961857.437,876717.534,983747.513,893059.101,954268.707
22,NaN,23,NaN,887383.656,915760.277,976207.089,849349.118,1324797.230,1482147.655,1071786.608,...,777023.657,600235.608,979786.161,876823.864,916719.996,975747.520,881913.928,992688.518,888057.791,958292.805
23,NaN,24,NaN,861547.427,906394.042,971591.448,864057.269,1333517.523,1494062.453,1079592.667,...,775797.550,601161.386,973478.327,866608.155,914719.666,994602.325,895918.301,994284.222,890801.593,967717.321
24,NaN,25,NaN,838046.474,896515.630,978250.950,868975.126,1352463.524,1513565.678,1086456.535,...,778141.667,599680.354,974212.783,854670.786,922905.985,1015774.830,916298.425,990031.508,894007.589,978531.870
25,NaN,26,NaN,830677.130,888272.460,995426.569,889460.969,1360513.455,1503628.453,1101803.340,...,792870.701,594442.640,972238.694,844852.102,937912.252,1028243.691,941842.564,985542.446,898065.417,973368.869
26,NaN,27,NaN,812906.706,867200.726,1002184.054,911953.113,1389427.373,1500823.026,1113850.866,...,800202.311,589020.053,964413.155,846355.683,944982.279,1037395.413,968189.061,979461.129,909309.023,966968.005
27,NaN,28,NaN,816498.409,850908.033,1003634.490,919367.138,1418805.368,1468588.713,1116844.725,...,804207.826,589601.472,966746.468,856233.807,947788.918,1043038.143,991205.682,973143.885,925064.129,966364.269
28,NaN,29,NaN,819810.129,843870.760,1014931.879,932313.920,1408769.028,1443937.046,1127664.695,...,808274.445,594906.668,976800.062,870887.831,945611.971,1043125.275,1009124.256,970758.714,936036.020,962550.663
29,NaN,30,NaN,821143.564,827426.736,1026612.840,944840.225,1417975.778,1445737.962,1122499.248,...,811638.417,605707.353,981534.792,893234.462,933806.215,1039239.095,1021198.884,970258.125,953705.910,954815.421
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,NaN,2,671044.790,583221.815,561192.041,614761.593,731501.453,789625.342,639132.891,560299.066,...,267622.761,541526.559,419624.970,503815.171,440577.411,629319.193,522332.798,454455.173,629737.634,NaN
337,NaN,3,682900.635,599555.477,569630.005,620600.247,765424.518,802206.106,659995.975,580349.548,...,268486.641,548107.100,432318.718,512215.662,454925.121,636989.187,541318.706,461972.074,639078.864,NaN
338,NaN,4,701919.196,616464.373,573366.744,629901.652,779398.547,818480.799,678096.222,577663.427,...,275070.243,558064.718,441649.905,525607.505,470886.819,644406.543,557911.138,482223.883,641441.763,NaN
339,NaN,5,709043.581,630050.260,572932.652,624511.516,800403.685,835657.155,701607.483,584745.806,...,291159.470,575186.511,453666.108,548913.926,477922.503,650957.279,566671.119,497895.030,642837.537,NaN
340,NaN,6,714952.338,641112.579,587642.929,623004.398,792190.998,848688.751,725176.074,576647.010,...,309516.283,593913.589,470823.666,570116.656,483869.817,657760.721,576353.121,512668.036,647282.389,NaN
341,NaN,7,719986.682,656759.692,598951.852,636700.476,791556.115,846706.554,743479.350,566370.303,...,328538.384,612997.277,495393.976,586517.119,498584.286,672942.388,577335.507,521219.490,655268.449,NaN
342,NaN,8,726673.859,659210.781,615714.553,638911.938,798021.663,856376.014,764357.953,575008.759,...,348574.649,621768.339,511388.566,597884.466,509819.110,689692.347,572221.102,523454.282,663742.997,NaN
343,NaN,9,725271.352,663675.089,633151.720,645162.097,793359.192,845570.240,756711.223,576367.547,...,367950.861,622393.449,523451.653,605795.373,519586.144,706384.898,572243.092,518407.536,678695.902,NaN
344,NaN,10,726260.853,663801.955,640281.822,660877.524,810598.152,833350.426,760751.832,592759.831,...,385128.081,617216.705,531800.766,617324.447,538920.211,721585.312,583411.625,517667.930,691740.218,NaN
345,NaN,11,730451.523,664084.325,651890.992,659838.743,828014.416,835939.038,770330.477,608915.037,...,398849.193,610815.341,537227.747,627443.096,560882.410,734600.572,587897.981,518073.987,699917.327,NaN
346,NaN,12,730649.600,672999.015,652139.853,657711.798,845806.356,832537.477,765452.764,615785.430,...,408307.018,606198.730,539802.067,634338.270,568849.464,746195.353,587609.520,522844.293,703055.758,NaN
347,NaN,13,731521.815,677442.043,653589.802,664835.808,863233.154,848506.372,775014.796,627535.309,...,417054.138,611592.353,550644.385,637225.008,576919.487,755037.431,591819.012,536063.476,703727.320,NaN
348,NaN,14,736049.554,684955.209,657431.362,668422.503,882243.604,860780.212,791813.312,637100.201,...,428600.668,622687.087,562289.448,634030.879,586523.796,762996.206,593163.309,554013.333,703163.252,NaN
349,NaN,15,736118.984,695404.970,658876.029,670403.412,900827.370,883978.929,816461.180,642878.101,...,438530.784,634320.656,572589.452,626976.423,592096.248,772100.620,592790.202,567285.728,702862.519,NaN
350,NaN,16,734762.044,713650.800,664148.854,676724.527,922864.836,905410.263,829947.888,644292.955,...,446580.699,644482.037,580623.034,621872.752,598517.236,781590.767,599488.348,576516.808,702701.074,NaN
351,NaN,17,745765.628,725062.002,669904.492,684693.692,943602.136,911894.799,861330.019,651676.324,...,455423.049,649497.404,587468.502,621837.970,618647.648,789536.252,617226.323,585963.807,705965.940,NaN
352,NaN,18,752015.319,731931.009,673923.361,687498.625,968002.026,927620.118,894925.599,640189.970,...,460332.359,648277.299,593331.197,629377.696,642731.707,800056.193,631246.051,593086.256,708715.341,NaN
353,NaN,19,756014.336,747905.743,678327.800,706762.334,991870.787,936653.243,920808.983,632169.962,...,464100.677,646371.653,604465.957,646740.922,660534.238,812292.985,644250.813,600626.475,713758.815,NaN
354,NaN,20,765892.582,755220.524,687708.293,722960.886,990981.738,939791.683,948335.015,637453.018,...,469150.922,648378.818,618096.538,666474.258,679567.087,824142.597,657348.383,614570.820,720832.613,NaN
355,NaN,21,741186.816,757759.556,694215.187,725817.410,1003002.723,938478.405,977185.333,632618.195,...,476104.762,654725.297,630639.224,687858.652,700416.613,836640.308,672488.532,629791.493,731007.215,NaN
356,NaN,22,727893.827,782040.469,695987.598,738410.104,1003118.112,945285.671,1003730.859,646022.718,...,478107.134,666517.747,642158.640,709760.387,718668.326,849114.786,689962.110,643069.799,742557.612,NaN
357,NaN,23,697281.385,800226.192,703000.848,741520.453,996276.265,947203.346,1031117.154,660425.447,...,480461.233,683066.206,653058.018,727685.280,731369.946,859114.481,712305.297,656204.694,751335.099,NaN
358,NaN,24,663915.892,809716.732,718538.214,739635.803,1016858.482,943445.274,1060387.856,666580.689,...,482989.943,699895.975,657948.831,739865.774,743952.201,866782.293,735972.888,668017.554,750807.075,NaN
359,NaN,25,656354.773,829650.055,724572.681,760249.035,1030685.904,959046.760,1054409.951,675861.470,...,483761.888,719263.989,646486.712,751433.260,759709.830,864115.630,761004.415,675670.530,744018.816,NaN
360,NaN,26,638644.517,839841.535,748336.747,774608.324,1044870.159,970644.215,1064171.942,667932.893,...,482025.029,731136.455,630460.436,761037.343,763761.116,852834.267,783155.108,683507.045,735516.944,NaN
361,NaN,27,643641.272,844461.155,772738.911,771009.939,1065630.793,988526.739,1046539.615,665483.458,...,482941.025,737874.518,615034.479,769634.211,755293.244,842672.884,799424.611,687647.513,723502.682,NaN
362,NaN,28,647433.658,855577.552,777034.772,782644.333,1082998.443,1007270.760,1026864.550,644379.884,...,485551.330,747442.035,603903.811,787789.984,743892.497,835952.794,814763.483,687402.681,713673.992,NaN
363,NaN,29,651114.743,869017.422,790745.686,781849.121,1095486.207,1032478.502,1029602.942,627124.238,...,488380.177,758119.579,600205.184,803460.925,731167.798,831487.302,827458.189,685552.115,713720.073,NaN
364,NaN,30,656055.848,863123.511,810602.975,772035.932,1122275.532,1053592.887,1023177.343,639987.756,...,493655.469,763804.356,614871.282,815606.597,717328.920,840324.292,836044.089,684888.811,720576.297,NaN
365,NaN,31,669576.730,864573.019,817972.024,779462.642,1146793.963,1060596.773,1045662.385,633943.764,...,500467.034,774568.137,639049.414,828260.321,717589.144,859236.613,829248.859,689143.206,732468.269,NaN

In [328]:
# There are NaN values that must be taken care of
regional_dict['Baffin-Area-km^2'].loc[:, ['month', 'day', 2019]][regional_dict['Baffin-Area-km^2'].loc[:, 2019].isnull()]

        month  day  2019
59        NaN   29   NaN
296       NaN   23   NaN
297       NaN   24   NaN
298       NaN   25   NaN
299       NaN   26   NaN
300       NaN   27   NaN
301       NaN   28   NaN
302       NaN   29   NaN
303       NaN   30   NaN
304       NaN   31   NaN
305  November    1   NaN
306       NaN    2   NaN
307       NaN    3   NaN
308       NaN    4   NaN
309       NaN    5   NaN
310       NaN    6   NaN
311       NaN    7   NaN
312       NaN    8   NaN
313       NaN    9   NaN
314       NaN   10   NaN
315       NaN   11   NaN
316       NaN   12   NaN
317       NaN   13   NaN
318       NaN   14   NaN
319       NaN   15   NaN
320       NaN   16   NaN
321       NaN   17   NaN
322       NaN   18   NaN
323       NaN   19   NaN
324       NaN   20   NaN
..        ...  ...   ...
336       NaN    2   NaN
337       NaN    3   NaN
338       NaN    4   NaN
339       NaN    5   NaN
340       NaN    6   NaN
341       NaN    7   NaN
342       NaN    8   NaN
343       NaN    9   NaN
344       NaN   10   NaN
345       NaN   11   NaN
346       NaN   12   NaN
347       NaN   13   NaN
348       NaN   14   NaN
349       NaN   15   NaN
350       NaN   16   NaN
351       NaN   17   NaN
352       NaN   18   NaN
353       NaN   19   NaN
354       NaN   20   NaN
355       NaN   21   NaN
356       NaN   22   NaN
357       NaN   23   NaN
358       NaN   24   NaN
359       NaN   25   NaN
360       NaN   26   NaN
361       NaN   27   NaN
362       NaN   28   NaN
363       NaN   29   NaN
364       NaN   30   NaN
365       NaN   31   NaN

[71 rows x 3 columns]

In [329]:
# Melt the years from the dataframe
regional_updated_dict = dict()
for key in regional_dict.keys():
    regional_updated_dict.update({key:pd.melt(regional_dict[key], id_vars=['month', 'day'], var_name='year')})

In [330]:
regional_updated_dict['Baffin-Area-km^2']

         month  day  year  value
0      January    1  1978    NaN
1          NaN    2  1978    NaN
2          NaN    3  1978    NaN
3          NaN    4  1978    NaN
4          NaN    5  1978    NaN
5          NaN    6  1978    NaN
6          NaN    7  1978    NaN
7          NaN    8  1978    NaN
8          NaN    9  1978    NaN
9          NaN   10  1978    NaN
10         NaN   11  1978    NaN
11         NaN   12  1978    NaN
12         NaN   13  1978    NaN
13         NaN   14  1978    NaN
14         NaN   15  1978    NaN
15         NaN   16  1978    NaN
16         NaN   17  1978    NaN
17         NaN   18  1978    NaN
18         NaN   19  1978    NaN
19         NaN   20  1978    NaN
20         NaN   21  1978    NaN
21         NaN   22  1978    NaN
22         NaN   23  1978    NaN
23         NaN   24  1978    NaN
24         NaN   25  1978    NaN
25         NaN   26  1978    NaN
26         NaN   27  1978    NaN
27         NaN   28  1978    NaN
28         NaN   29  1978    NaN
29         NaN   30  1978    NaN
...        ...  ...   ...    ...
15342      NaN    2  2019    NaN
15343      NaN    3  2019    NaN
15344      NaN    4  2019    NaN
15345      NaN    5  2019    NaN
15346      NaN    6  2019    NaN
15347      NaN    7  2019    NaN
15348      NaN    8  2019    NaN
15349      NaN    9  2019    NaN
15350      NaN   10  2019    NaN
15351      NaN   11  2019    NaN
15352      NaN   12  2019    NaN
15353      NaN   13  2019    NaN
15354      NaN   14  2019    NaN
15355      NaN   15  2019    NaN
15356      NaN   16  2019    NaN
15357      NaN   17  2019    NaN
15358      NaN   18  2019    NaN
15359      NaN   19  2019    NaN
15360      NaN   20  2019    NaN
15361      NaN   21  2019    NaN
15362      NaN   22  2019    NaN
15363      NaN   23  2019    NaN
15364      NaN   24  2019    NaN
15365      NaN   25  2019    NaN
15366      NaN   26  2019    NaN
15367      NaN   27  2019    NaN
15368      NaN   28  2019    NaN
15369      NaN   29  2019    NaN
15370      NaN   30  2019    NaN
15371      NaN   31  2019    NaN

[15372 rows x 4 columns]

In [331]:
# forward fill the month for all tabs
for key in regional_dict.keys():
    regional_updated_dict[key]['month'] = regional_updated_dict[key]['month'].ffill()

In [332]:
regional_updated_dict['Baffin-Area-km^2']

          month  day  year  value
0       January    1  1978    NaN
1       January    2  1978    NaN
2       January    3  1978    NaN
3       January    4  1978    NaN
4       January    5  1978    NaN
5       January    6  1978    NaN
6       January    7  1978    NaN
7       January    8  1978    NaN
8       January    9  1978    NaN
9       January   10  1978    NaN
10      January   11  1978    NaN
11      January   12  1978    NaN
12      January   13  1978    NaN
13      January   14  1978    NaN
14      January   15  1978    NaN
15      January   16  1978    NaN
16      January   17  1978    NaN
17      January   18  1978    NaN
18      January   19  1978    NaN
19      January   20  1978    NaN
20      January   21  1978    NaN
21      January   22  1978    NaN
22      January   23  1978    NaN
23      January   24  1978    NaN
24      January   25  1978    NaN
25      January   26  1978    NaN
26      January   27  1978    NaN
27      January   28  1978    NaN
28      January   29  1978    NaN
29      January   30  1978    NaN
...         ...  ...   ...    ...
15342  December    2  2019    NaN
15343  December    3  2019    NaN
15344  December    4  2019    NaN
15345  December    5  2019    NaN
15346  December    6  2019    NaN
15347  December    7  2019    NaN
15348  December    8  2019    NaN
15349  December    9  2019    NaN
15350  December   10  2019    NaN
15351  December   11  2019    NaN
15352  December   12  2019    NaN
15353  December   13  2019    NaN
15354  December   14  2019    NaN
15355  December   15  2019    NaN
15356  December   16  2019    NaN
15357  December   17  2019    NaN
15358  December   18  2019    NaN
15359  December   19  2019    NaN
15360  December   20  2019    NaN
15361  December   21  2019    NaN
15362  December   22  2019    NaN
15363  December   23  2019    NaN
15364  December   24  2019    NaN
15365  December   25  2019    NaN
15366  December   26  2019    NaN
15367  December   27  2019    NaN
15368  December   28  2019    NaN
15369  December   29  2019    NaN
15370  December   30  2019    NaN
15371  December   31  2019    NaN

[15372 rows x 4 columns]

In [191]:
regional_updated_dict['Baffin-Extent-km^2']

          month  day  year  value
0       January    1  1978    NaN
1       January    2  1978    NaN
2       January    3  1978    NaN
3       January    4  1978    NaN
4       January    5  1978    NaN
5       January    6  1978    NaN
6       January    7  1978    NaN
7       January    8  1978    NaN
8       January    9  1978    NaN
9       January   10  1978    NaN
10      January   11  1978    NaN
11      January   12  1978    NaN
12      January   13  1978    NaN
13      January   14  1978    NaN
14      January   15  1978    NaN
15      January   16  1978    NaN
16      January   17  1978    NaN
17      January   18  1978    NaN
18      January   19  1978    NaN
19      January   20  1978    NaN
20      January   21  1978    NaN
21      January   22  1978    NaN
22      January   23  1978    NaN
23      January   24  1978    NaN
24      January   25  1978    NaN
25      January   26  1978    NaN
26      January   27  1978    NaN
27      January   28  1978    NaN
28      January   29  1978    NaN
29      January   30  1978    NaN
...         ...  ...   ...    ...
15342  December    2  2019    NaN
15343  December    3  2019    NaN
15344  December    4  2019    NaN
15345  December    5  2019    NaN
15346  December    6  2019    NaN
15347  December    7  2019    NaN
15348  December    8  2019    NaN
15349  December    9  2019    NaN
15350  December   10  2019    NaN
15351  December   11  2019    NaN
15352  December   12  2019    NaN
15353  December   13  2019    NaN
15354  December   14  2019    NaN
15355  December   15  2019    NaN
15356  December   16  2019    NaN
15357  December   17  2019    NaN
15358  December   18  2019    NaN
15359  December   19  2019    NaN
15360  December   20  2019    NaN
15361  December   21  2019    NaN
15362  December   22  2019    NaN
15363  December   23  2019    NaN
15364  December   24  2019    NaN
15365  December   25  2019    NaN
15366  December   26  2019    NaN
15367  December   27  2019    NaN
15368  December   28  2019    NaN
15369  December   29  2019    NaN
15370  December   30  2019    NaN
15371  December   31  2019    NaN

[15372 rows x 4 columns]

In [333]:
def two_digits_month(Month):
    return {
        'January' : '01',
        'February' : '02',
        'March' : '03',
        'April' : '04',
        'May' : '05',
        'June' : '06',
        'July' : '07',
        'August' : '08',
        'September' : '09', 
        'October' : '10',
        'November' : '11',
        'December' : '12'
}[Month]

In [334]:
# Check the month conversion
two_digits_month('March')

'03'

In [335]:
for key in regional_dict.keys():
    acq_date_list = []
    for item in range(len(regional_updated_dict[key])):
        acq_date = str(regional_updated_dict[key]['year'][item]) + '-' + \
        two_digits_month(regional_updated_dict[key]['month'][item]) + '-' + \
        str(regional_updated_dict[key]['day'][item]).zfill(2)
        acq_date_list.append(acq_date)
    regional_updated_dict[key]['acq_date'] = acq_date_list

In [336]:
regional_updated_dict['Baffin-Area-km^2']

          month  day  year  value    acq_date
0       January    1  1978    NaN  1978-01-01
1       January    2  1978    NaN  1978-01-02
2       January    3  1978    NaN  1978-01-03
3       January    4  1978    NaN  1978-01-04
4       January    5  1978    NaN  1978-01-05
5       January    6  1978    NaN  1978-01-06
6       January    7  1978    NaN  1978-01-07
7       January    8  1978    NaN  1978-01-08
8       January    9  1978    NaN  1978-01-09
9       January   10  1978    NaN  1978-01-10
10      January   11  1978    NaN  1978-01-11
11      January   12  1978    NaN  1978-01-12
12      January   13  1978    NaN  1978-01-13
13      January   14  1978    NaN  1978-01-14
14      January   15  1978    NaN  1978-01-15
15      January   16  1978    NaN  1978-01-16
16      January   17  1978    NaN  1978-01-17
17      January   18  1978    NaN  1978-01-18
18      January   19  1978    NaN  1978-01-19
19      January   20  1978    NaN  1978-01-20
20      January   21  1978    NaN  1978-01-21
21      January   22  1978    NaN  1978-01-22
22      January   23  1978    NaN  1978-01-23
23      January   24  1978    NaN  1978-01-24
24      January   25  1978    NaN  1978-01-25
25      January   26  1978    NaN  1978-01-26
26      January   27  1978    NaN  1978-01-27
27      January   28  1978    NaN  1978-01-28
28      January   29  1978    NaN  1978-01-29
29      January   30  1978    NaN  1978-01-30
...         ...  ...   ...    ...         ...
15342  December    2  2019    NaN  2019-12-02
15343  December    3  2019    NaN  2019-12-03
15344  December    4  2019    NaN  2019-12-04
15345  December    5  2019    NaN  2019-12-05
15346  December    6  2019    NaN  2019-12-06
15347  December    7  2019    NaN  2019-12-07
15348  December    8  2019    NaN  2019-12-08
15349  December    9  2019    NaN  2019-12-09
15350  December   10  2019    NaN  2019-12-10
15351  December   11  2019    NaN  2019-12-11
15352  December   12  2019    NaN  2019-12-12
15353  December   13  2019    NaN  2019-12-13
15354  December   14  2019    NaN  2019-12-14
15355  December   15  2019    NaN  2019-12-15
15356  December   16  2019    NaN  2019-12-16
15357  December   17  2019    NaN  2019-12-17
15358  December   18  2019    NaN  2019-12-18
15359  December   19  2019    NaN  2019-12-19
15360  December   20  2019    NaN  2019-12-20
15361  December   21  2019    NaN  2019-12-21
15362  December   22  2019    NaN  2019-12-22
15363  December   23  2019    NaN  2019-12-23
15364  December   24  2019    NaN  2019-12-24
15365  December   25  2019    NaN  2019-12-25
15366  December   26  2019    NaN  2019-12-26
15367  December   27  2019    NaN  2019-12-27
15368  December   28  2019    NaN  2019-12-28
15369  December   29  2019    NaN  2019-12-29
15370  December   30  2019    NaN  2019-12-30
15371  December   31  2019    NaN  2019-12-31

[15372 rows x 5 columns]

In [337]:
regional_updated_dict['Baffin-Extent-km^2']

          month  day  year  value    acq_date
0       January    1  1978    NaN  1978-01-01
1       January    2  1978    NaN  1978-01-02
2       January    3  1978    NaN  1978-01-03
3       January    4  1978    NaN  1978-01-04
4       January    5  1978    NaN  1978-01-05
5       January    6  1978    NaN  1978-01-06
6       January    7  1978    NaN  1978-01-07
7       January    8  1978    NaN  1978-01-08
8       January    9  1978    NaN  1978-01-09
9       January   10  1978    NaN  1978-01-10
10      January   11  1978    NaN  1978-01-11
11      January   12  1978    NaN  1978-01-12
12      January   13  1978    NaN  1978-01-13
13      January   14  1978    NaN  1978-01-14
14      January   15  1978    NaN  1978-01-15
15      January   16  1978    NaN  1978-01-16
16      January   17  1978    NaN  1978-01-17
17      January   18  1978    NaN  1978-01-18
18      January   19  1978    NaN  1978-01-19
19      January   20  1978    NaN  1978-01-20
20      January   21  1978    NaN  1978-01-21
21      January   22  1978    NaN  1978-01-22
22      January   23  1978    NaN  1978-01-23
23      January   24  1978    NaN  1978-01-24
24      January   25  1978    NaN  1978-01-25
25      January   26  1978    NaN  1978-01-26
26      January   27  1978    NaN  1978-01-27
27      January   28  1978    NaN  1978-01-28
28      January   29  1978    NaN  1978-01-29
29      January   30  1978    NaN  1978-01-30
...         ...  ...   ...    ...         ...
15342  December    2  2019    NaN  2019-12-02
15343  December    3  2019    NaN  2019-12-03
15344  December    4  2019    NaN  2019-12-04
15345  December    5  2019    NaN  2019-12-05
15346  December    6  2019    NaN  2019-12-06
15347  December    7  2019    NaN  2019-12-07
15348  December    8  2019    NaN  2019-12-08
15349  December    9  2019    NaN  2019-12-09
15350  December   10  2019    NaN  2019-12-10
15351  December   11  2019    NaN  2019-12-11
15352  December   12  2019    NaN  2019-12-12
15353  December   13  2019    NaN  2019-12-13
15354  December   14  2019    NaN  2019-12-14
15355  December   15  2019    NaN  2019-12-15
15356  December   16  2019    NaN  2019-12-16
15357  December   17  2019    NaN  2019-12-17
15358  December   18  2019    NaN  2019-12-18
15359  December   19  2019    NaN  2019-12-19
15360  December   20  2019    NaN  2019-12-20
15361  December   21  2019    NaN  2019-12-21
15362  December   22  2019    NaN  2019-12-22
15363  December   23  2019    NaN  2019-12-23
15364  December   24  2019    NaN  2019-12-24
15365  December   25  2019    NaN  2019-12-25
15366  December   26  2019    NaN  2019-12-26
15367  December   27  2019    NaN  2019-12-27
15368  December   28  2019    NaN  2019-12-28
15369  December   29  2019    NaN  2019-12-29
15370  December   30  2019    NaN  2019-12-30
15371  December   31  2019    NaN  2019-12-31

[15372 rows x 5 columns]

In [338]:
for key in regional_dict.keys():
    regional_updated_dict[key].drop(['month', 'day', 'year'], axis=1, inplace=True)

In [339]:
regional_updated_dict['Baffin-Area-km^2'].columns

Index(['value', 'acq_date'], dtype='object')

In [340]:
regional_updated_dict['Baffin-Extent-km^2'].columns

Index(['value', 'acq_date'], dtype='object')

In [341]:
# Set acq_date as the index and excel tab name as the column name
for key in regional_dict.keys():
    regional_updated_dict[key].set_index('acq_date', inplace=True)
    regional_updated_dict[key].columns = [key]

In [342]:
regional_updated_dict['Baffin-Area-km^2']

            Baffin-Area-km^2
acq_date
1978-01-01               NaN
1978-01-02               NaN
1978-01-03               NaN
1978-01-04               NaN
1978-01-05               NaN
1978-01-06               NaN
1978-01-07               NaN
1978-01-08               NaN
1978-01-09               NaN
1978-01-10               NaN
1978-01-11               NaN
1978-01-12               NaN
1978-01-13               NaN
1978-01-14               NaN
1978-01-15               NaN
1978-01-16               NaN
1978-01-17               NaN
1978-01-18               NaN
1978-01-19               NaN
1978-01-20               NaN
1978-01-21               NaN
1978-01-22               NaN
1978-01-23               NaN
1978-01-24               NaN
1978-01-25               NaN
1978-01-26               NaN
1978-01-27               NaN
1978-01-28               NaN
1978-01-29               NaN
1978-01-30               NaN
...                      ...
2019-12-02               NaN
2019-12-03               NaN
2019-12-04               NaN
2019-12-05               NaN
2019-12-06               NaN
2019-12-07               NaN
2019-12-08               NaN
2019-12-09               NaN
2019-12-10               NaN
2019-12-11               NaN
2019-12-12               NaN
2019-12-13               NaN
2019-12-14               NaN
2019-12-15               NaN
2019-12-16               NaN
2019-12-17               NaN
2019-12-18               NaN
2019-12-19               NaN
2019-12-20               NaN
2019-12-21               NaN
2019-12-22               NaN
2019-12-23               NaN
2019-12-24               NaN
2019-12-25               NaN
2019-12-26               NaN
2019-12-27               NaN
2019-12-28               NaN
2019-12-29               NaN
2019-12-30               NaN
2019-12-31               NaN

[15372 rows x 1 columns]

In [343]:
regional_updated_dict['Baffin-Extent-km^2']

            Baffin-Extent-km^2
acq_date
1978-01-01                 NaN
1978-01-02                 NaN
1978-01-03                 NaN
1978-01-04                 NaN
1978-01-05                 NaN
1978-01-06                 NaN
1978-01-07                 NaN
1978-01-08                 NaN
1978-01-09                 NaN
1978-01-10                 NaN
1978-01-11                 NaN
1978-01-12                 NaN
1978-01-13                 NaN
1978-01-14                 NaN
1978-01-15                 NaN
1978-01-16                 NaN
1978-01-17                 NaN
1978-01-18                 NaN
1978-01-19                 NaN
1978-01-20                 NaN
1978-01-21                 NaN
1978-01-22                 NaN
1978-01-23                 NaN
1978-01-24                 NaN
1978-01-25                 NaN
1978-01-26                 NaN
1978-01-27                 NaN
1978-01-28                 NaN
1978-01-29                 NaN
1978-01-30                 NaN
...                        ...
2019-12-02                 NaN
2019-12-03                 NaN
2019-12-04                 NaN
2019-12-05                 NaN
2019-12-06                 NaN
2019-12-07                 NaN
2019-12-08                 NaN
2019-12-09                 NaN
2019-12-10                 NaN
2019-12-11                 NaN
2019-12-12                 NaN
2019-12-13                 NaN
2019-12-14                 NaN
2019-12-15                 NaN
2019-12-16                 NaN
2019-12-17                 NaN
2019-12-18                 NaN
2019-12-19                 NaN
2019-12-20                 NaN
2019-12-21                 NaN
2019-12-22                 NaN
2019-12-23                 NaN
2019-12-24                 NaN
2019-12-25                 NaN
2019-12-26                 NaN
2019-12-27                 NaN
2019-12-28                 NaN
2019-12-29                 NaN
2019-12-30                 NaN
2019-12-31                 NaN

[15372 rows x 1 columns]

In [344]:
# There are 3 reasons for null values:
# - the date is before the start of recorded data
# - the date is in 2019, after the moment when the data was gathered
# - 29 february has a not null value only for leap years
# Therefore, all these observations with NaN values can be dropped
regional_updated_dict['Baffin-Area-km^2'][regional_updated_dict['Baffin-Area-km^2'].isnull()]

            Baffin-Area-km^2
acq_date
1978-01-01               NaN
1978-01-02               NaN
1978-01-03               NaN
1978-01-04               NaN
1978-01-05               NaN
1978-01-06               NaN
1978-01-07               NaN
1978-01-08               NaN
1978-01-09               NaN
1978-01-10               NaN
1978-01-11               NaN
1978-01-12               NaN
1978-01-13               NaN
1978-01-14               NaN
1978-01-15               NaN
1978-01-16               NaN
1978-01-17               NaN
1978-01-18               NaN
1978-01-19               NaN
1978-01-20               NaN
1978-01-21               NaN
1978-01-22               NaN
1978-01-23               NaN
1978-01-24               NaN
1978-01-25               NaN
1978-01-26               NaN
1978-01-27               NaN
1978-01-28               NaN
1978-01-29               NaN
1978-01-30               NaN
...                      ...
2019-12-02               NaN
2019-12-03               NaN
2019-12-04               NaN
2019-12-05               NaN
2019-12-06               NaN
2019-12-07               NaN
2019-12-08               NaN
2019-12-09               NaN
2019-12-10               NaN
2019-12-11               NaN
2019-12-12               NaN
2019-12-13               NaN
2019-12-14               NaN
2019-12-15               NaN
2019-12-16               NaN
2019-12-17               NaN
2019-12-18               NaN
2019-12-19               NaN
2019-12-20               NaN
2019-12-21               NaN
2019-12-22               NaN
2019-12-23               NaN
2019-12-24               NaN
2019-12-25               NaN
2019-12-26               NaN
2019-12-27               NaN
2019-12-28               NaN
2019-12-29               NaN
2019-12-30               NaN
2019-12-31               NaN

[15372 rows x 1 columns]

In [345]:
for key in regional_dict.keys():
    regional_updated_dict[key] = regional_updated_dict[key].dropna()

In [346]:
# These are the final time series for regional data:
# 1978-10-28 (start of data gathering) to 2019-10-22 (the date when the excel file was created)
regional_updated_dict['Baffin-Area-km^2']

            Baffin-Area-km^2
acq_date
1978-10-28        416908.720
1978-10-29        416908.720
1978-10-30        419829.102
1978-10-31        424603.699
1978-11-01        432456.540
1978-11-02        436916.044
1978-11-03        453981.625
1978-11-04        468137.504
1978-11-05        478228.269
1978-11-06        493261.292
1978-11-07        500133.432
1978-11-08        506143.755
1978-11-09        524292.425
1978-11-10        537233.739
1978-11-11        548068.606
1978-11-12        565164.053
1978-11-13        575280.136
1978-11-14        582625.321
1978-11-15        601091.883
1978-11-16        616768.654
1978-11-17        628742.891
1978-11-18        645358.186
1978-11-19        658114.245
1978-11-20        668158.864
1978-11-21        678548.443
1978-11-22        691476.981
1978-11-23        694626.634
1978-11-24        700126.769
1978-11-25        709080.785
1978-11-26        713957.378
...                      ...
2019-09-23         13395.800
2019-09-24         13924.787
2019-09-25         15845.050
2019-09-26         18275.489
2019-09-27         20023.776
2019-09-28         20169.095
2019-09-29         23000.158
2019-09-30         24480.243
2019-10-01         24066.904
2019-10-02         24857.625
2019-10-03         25329.856
2019-10-04         25395.046
2019-10-05         25746.218
2019-10-06         26426.312
2019-10-07         26955.458
2019-10-08         27116.527
2019-10-09         26561.169
2019-10-10         25616.846
2019-10-11         25896.942
2019-10-12         26110.316
2019-10-13         26956.670
2019-10-14         27502.174
2019-10-15         28076.061
2019-10-16         28102.452
2019-10-17         28229.793
2019-10-18         28995.678
2019-10-19         30256.839
2019-10-20         30990.779
2019-10-21         31976.167
2019-10-22         32922.121

[14931 rows x 1 columns]

In [347]:
regional_updated_dict['Baffin-Extent-km^2']

            Baffin-Extent-km^2
acq_date
1978-10-28          521862.289
1978-10-29          521862.289
1978-10-30          531533.703
1978-10-31          539494.751
1978-11-01          549767.557
1978-11-02          560594.850
1978-11-03          572481.084
1978-11-04          583283.360
1978-11-05          594298.364
1978-11-06          606290.962
1978-11-07          618140.565
1978-11-08          629084.071
1978-11-09          651006.115
1978-11-10          668344.986
1978-11-11          684668.572
1978-11-12          706082.973
1978-11-13          719457.760
1978-11-14          731761.538
1978-11-15          748487.315
1978-11-16          764073.101
1978-11-17          775316.564
1978-11-18          789871.178
1978-11-19          799292.382
1978-11-20          807969.138
1978-11-21          814741.066
1978-11-22          823209.855
1978-11-23          830507.149
1978-11-24          836693.329
1978-11-25          844157.067
1978-11-26          852093.139
...                        ...
2019-09-23           26023.408
2019-09-24           25996.119
2019-09-25           29857.548
2019-09-26           36025.515
2019-09-27           39844.386
2019-09-28           40201.655
2019-09-29           45821.311
2019-09-30           48979.154
2019-10-01           46001.166
2019-10-02           48862.723
2019-10-03           50131.898
2019-10-04           51757.948
2019-10-05           53163.346
2019-10-06           56327.687
2019-10-07           57144.763
2019-10-08           57142.481
2019-10-09           54091.504
2019-10-10           51643.593
2019-10-11           50458.959
2019-10-12           48993.740
2019-10-13           50786.503
2019-10-14           51304.512
2019-10-15           50827.680
2019-10-16           49568.335
2019-10-17           49321.441
2019-10-18           48796.444
2019-10-19           50770.777
2019-10-20           50530.783
2019-10-21           51521.579
2019-10-22           51545.741

[14931 rows x 1 columns]

In [348]:
regional_updated_dict['Baffin-Area-km^2'].isnull().sum().sum()

0

In [349]:
regional_updated_dict['Baffin-Extent-km^2'].isnull().sum().sum()

0

In [350]:
final_ice_df = pd.DataFrame()
for key in regional_dict.keys():
    final_ice_df = pd.concat([final_ice_df, regional_updated_dict[key]], axis=1, sort=False)

In [351]:
final_ice_df

,Baffin-Area-km^2,Baffin-Extent-km^2,Barents-Area-km^2,Barents-Extent-km^2,Beaufort-Area-km^2,Beaufort-Extent-km^2,Bering-Area-km^2,Bering-Extent-km^2,CanadianArchipelago-Area-km^2,CanadianArchipelago-Extent-km^2,...,Hudson-Area-km^2,Hudson-Extent-km^2,Kara-Area-km^2,Kara-Extent-km^2,Laptev-Area-km^2,Laptev-Extent-km^2,Okhotsk-Area-km^2,Okhotsk-Extent-km^2,St-Lawrence-Area-km^2,St-Lawrence-Extent-km^2
acq_date,,,,,,,,,,,,,,,,,,,,,
1978-10-28,416908.720,521862.289,222781.361,361743.416,895310.805,940219.390,11472.805,35555.883,719220.320,761228.252,...,246180.927,378913.635,569610.622,815398.750,802884.363,872414.226,16799.581,35135.582,0.000,0.000
1978-10-29,416908.720,521862.289,222781.361,361743.416,895310.805,940219.390,11472.805,35555.883,719220.320,761228.252,...,246180.927,378913.635,569610.622,815398.750,802884.363,872414.226,16799.581,35135.582,0.000,0.000
1978-10-30,419829.102,531533.703,229769.256,379395.172,894088.098,940219.390,13553.099,42670.305,717303.629,761228.252,...,261666.759,395635.784,562328.391,816017.367,806760.991,872414.226,18745.308,39102.698,0.000,0.000
1978-10-31,424603.699,539494.751,239080.138,397831.010,894437.562,940219.390,17155.632,54445.683,719259.986,761228.252,...,274520.725,411278.220,563103.427,820197.687,803822.189,872414.226,19828.268,41864.345,0.000,0.000
1978-11-01,432456.540,549767.557,255871.199,407009.512,891797.069,940219.390,16204.616,51087.306,713567.945,761228.252,...,282447.249,421828.771,592522.327,834384.662,801273.832,872414.226,19406.867,44005.995,967.403,2028.863
1978-11-02,436916.044,560594.850,266599.184,420032.599,889079.383,940219.390,16008.135,50634.850,707827.056,761228.252,...,295469.361,436004.978,599562.028,840006.606,805345.682,872414.226,20600.413,47663.113,1451.104,3043.295
1978-11-03,453981.625,572481.084,273238.066,428925.766,886904.020,940219.390,15146.336,45128.824,707977.925,761228.252,...,296513.547,441863.442,631868.299,852835.709,804449.229,872414.226,23336.706,55765.457,2106.390,3719.596
1978-11-04,468137.504,583283.360,287984.576,436039.307,884534.688,940219.390,13862.659,39243.663,705231.764,761228.252,...,298451.109,448255.122,673920.484,870626.263,799416.721,872414.226,23686.678,60129.719,3159.586,5579.395
1978-11-05,478228.269,594298.364,301386.462,446784.785,878757.693,940219.390,15285.012,46435.094,705065.476,761228.252,...,308529.466,464586.785,698110.232,877851.959,803279.392,872414.226,25970.600,62922.233,3180.264,5248.084
1978-11-06,493261.292,606290.962,307353.031,457493.919,874878.498,940219.390,15776.227,47467.364,706506.282,761228.252,...,313644.051,475415.240,721485.283,885398.633,806830.529,872414.226,29673.867,70238.703,3319.292,4828.831
1978-11-07,500133.432,618140.565,316864.211,461225.774,873353.857,940219.390,15881.903,46514.169,704715.429,761228.252,...,339138.570,510782.943,736576.421,890827.271,814560.985,872414.226,27643.583,67119.810,3193.688,4915.908
1978-11-08,506143.755,629084.071,332038.402,468482.611,868754.138,940219.390,17111.487,52712.868,702933.312,761228.252,...,359406.895,539384.230,756624.212,896993.948,820513.316,872414.226,27060.729,64694.642,3082.051,4837.762
1978-11-09,524292.425,651006.115,316911.709,462435.207,869305.552,940219.390,16807.460,54197.153,702803.637,761228.252,...,382939.005,570040.122,758271.645,900859.875,822282.650,872414.226,26236.256,61682.827,3769.330,6251.674
1978-11-10,537233.739,668344.986,311272.447,459514.940,870356.476,940219.390,16146.331,50886.752,701839.005,761228.252,...,410065.416,606435.127,764162.605,905138.137,827921.608,872414.226,24085.162,58270.610,4043.186,7084.780
1978-11-11,548068.606,684668.572,305636.036,462737.530,863445.949,940219.390,15751.010,51358.274,703243.976,761228.252,...,433437.540,635324.195,758330.230,904595.015,814108.498,871540.721,25142.883,60725.306,3596.652,6417.268
1978-11-12,565164.053,706082.973,290510.768,459761.554,860016.636,940219.390,15579.887,54733.522,704299.103,761228.252,...,455092.505,662227.119,754115.996,906050.250,806151.798,871103.968,25922.817,60646.948,3923.737,7080.872
1978-11-13,575280.136,719457.760,302712.453,470199.037,858411.881,940219.390,15028.465,51169.890,705397.225,761228.252,...,486684.480,697215.828,762651.434,906060.345,805145.687,871103.850,25876.025,59632.186,3210.326,5905.492
1978-11-14,582625.321,731761.538,310739.518,480128.356,852413.632,940219.390,14442.995,48171.973,706823.694,761228.252,...,515025.107,730147.789,763193.896,904794.653,794807.871,870448.662,26520.383,61618.679,2243.545,4318.489
1978-11-15,601091.883,748487.315,313771.035,473703.851,853869.748,940219.390,18250.671,53829.682,707467.212,761228.252,...,534093.399,757108.796,765028.916,903543.998,804524.505,871103.850,27231.638,61312.413,2922.349,5563.334
1978-11-16,616768.654,764073.101,323474.946,475964.421,855992.175,940219.390,19895.822,54593.863,708173.859,761228.252,...,561049.204,789112.028,774210.635,903561.611,813545.619,871758.920,27218.293,59151.271,3031.731,5803.878
1978-11-17,628742.891,775316.564,324025.218,476584.379,858892.707,940219.390,25567.159,67396.961,710150.810,761228.252,...,584915.419,817584.220,763052.814,900205.608,816608.831,871758.818,25386.265,56432.695,2603.093,5053.671
1978-11-18,645358.186,789871.178,322479.916,469339.566,860737.875,940219.390,31387.927,79074.128,711429.480,761228.252,...,602438.914,842779.706,754718.065,897268.145,823346.515,872086.420,25188.178,55847.712,3012.887,5803.141
1978-11-19,658114.245,799292.382,329037.706,483989.274,862044.832,940219.390,30054.882,72015.927,711582.318,761228.252,...,648731.113,905990.151,755093.923,898526.574,820873.483,872195.689,23430.078,51393.473,3020.682,6053.708
1978-11-20,668158.864,807969.138,333639.525,495556.491,864676.259,940219.390,32149.311,75451.341,712996.353,761228.252,...,686981.679,953469.821,748291.405,897268.517,819331.339,872086.420,20818.044,46740.268,2391.045,5054.050
1978-11-21,678548.443,814741.066,355400.357,521264.665,868674.961,940219.390,30625.862,73579.372,713876.172,761228.252,...,731258.647,996445.192,764221.259,900828.678,822106.921,872195.689,25353.056,53198.110,2265.108,5052.105
1978-11-22,691476.981,823209.855,370537.654,542984.851,870665.556,940219.390,27483.876,63867.480,713761.902,761228.252,...,780564.047,1057403.486,775963.303,904496.216,821792.754,872414.226,27168.479,54299.393,2524.753,5801.529
1978-11-23,694626.634,830507.149,397236.387,571786.741,870679.877,940219.390,31531.337,69416.563,713253.923,761228.252,...,833864.632,1083141.345,795644.779,908368.254,826533.211,872414.226,28776.662,63037.242,2142.402,4714.780
1978-11-24,700126.769,836693.329,424777.939,601035.768,873690.442,940219.390,33602.610,75175.082,713936.888,761228.252,...,880139.192,1108506.497,815544.349,912030.665,831836.106,872414.226,33208.052,73313.366,1695.467,3794.750
1978-11-25,709080.785,844157.067,454779.810,637684.598,873364.881,940219.390,34540.075,76699.711,714338.907,761228.252,...,915583.464,1131084.158,834656.881,914018.070,836130.003,872414.226,30536.574,67969.072,1964.253,3717.747
1978-11-26,713957.378,852093.139,482708.704,670186.390,871711.139,940219.390,38020.631,80131.850,713690.455,761228.252,...,963468.905,1155428.270,853944.838,917052.605,840365.961,872414.226,28593.322,68896.712,1939.764,3052.513
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-23,13395.800,26023.408,1602.251,5996.535,190824.335,283307.255,0.000,0.000,196326.837,325100.350,...,6439.992,16998.297,29508.715,61012.960,32386.984,85800.942,706.726,3285.813,0.000,0.000
2019-09-24,13924.787,25996.119,1854.548,6770.458,200956.400,289631.733,0.000,0.000,209134.590,343751.562,...,4918.677,12091.349,29098.851,61012.960,30975.139,83048.285,690.412,3188.219,0.000,0.000
2019-09-25,15845.050,29857.548,2046.563,7420.626,214085.895,303016.718,152.696,240.828,222862.443,366259.089,...,4643.471,11937.936,28292.580,59879.910,28784.460,78989.080,580.795,2590.491,0.000,0.000
2019-09-26,18275.489,36025.515,1718.452,6376.946,227365.545,318184.552,152.696,240.828,233109.201,388126.259,...,4483.075,11369.871,27109.953,58745.379,26508.713,73887.873,424.796,1992.231,0.000,0.000
2019-09-27,20023.776,39844.386,1940.131,7157.516,239100.774,334489.139,270.627,842.293,242023.332,406030.252,...,5122.357,12620.810,26443.357,57986.530,24092.285,68126.445,422.574,1891.740,0.000,0.000
2019-09-28,20169.095,40201.655,1811.412,6506.058,251774.721,350644.000,270.627,842.293,247737.305,415021.275,...,4991.371,12383.197,25392.776,57607.396,22015.032,63015.961,449.368,1793.106,0.000,0.000
2019-09-29,23000.158,45821.311,1373.986,4817.947,266519.680,365256.905,290.314,962.334,250502.990,419863.215,...,5017.995,12396.342,24689.850,56477.229,19700.903,58311.770,553.178,2190.886,0.000,0.000
2019-09-30,24480.243,48979.154,960.618,3254.409,282352.975,376908.922,338.838,1202.441,255964.059,427758.952,...,5303.827,12422.221,24585.194,56098.014,19925.837,58064.070,718.850,2689.707,0.000,0.000
2019-10-01,24066.904,46001.166,2631.879,8184.321,298604.724,388167.665,1024.830,3524.414,260410.651,432715.178,...,5833.333,14669.004,25551.680,57232.219,22720.663,62525.258,2955.448,9421.825,0.000,0.000
2019-10-02,24857.625,48862.723,7567.694,19865.308,316330.332,400690.590,1478.629,4568.158,263344.488,434307.964,...,5460.246,13999.141,26892.044,60278.390,28534.534,71569.002,6080.429,17444.143,0.000,0.000
2019-10-03,25329.856,50131.898,9419.409,25684.638,331119.869,412053.826,1966.219,6103.389,268775.872,437134.195,...,5523.580,13993.580,28134.963,62945.526,35817.915,83630.997,7517.482,20489.060,0.000,0.000
2019-10-04,25395.046,51757.948,10319.874,27468.452,343997.382,423144.670,3112.199,10308.041,274612.977,444957.748,...,5829.860,14907.412,28989.737,64080.467,44145.380,95159.319,8906.010,22815.346,0.000,0.000
2019-10-05,25746.218,53163.346,12158.365,32303.846,353265.701,432066.390,3710.511,12200.783,275948.968,445117.795,...,5889.197,14970.417,29228.619,65219.574,51969.957,105757.788,10336.634,25460.436,0.000,0.000
2019-10-06,26426.312,56327.687,11172.654,28283.221,363046.026,440868.240,4338.780,14658.839,279890.233,441579.173,...,6161.939,15909.107,29765.068,66353.121,58818.075,113614.896,12261.523,31029.387,0.000,0.000
2019-10-07,26955.458,57144.763,6722.322,16991.255,370582.645,450181.880,4513.236,15472.533,289690.482,445479.923,...,6852.830,18357.571,29374.192,65201.007,64953.325,120916.777,12692.848,32306.165,0.000,0.000
2019-10-08,27116.527,57142.481,6930.836,16883.760,374534.361,457840.507,4933.314,17236.321,296847.165,452595.617,...,7250.134,19982.515,28197.194,62660.105,70669.282,127960.917,14260.103,38624.087,0.000,0.000
2019-10-09,26561.169,54091.504,7705.450,18719.649,376710.608,462807.866,4257.937,14205.392,306176.055,464166.498,...,7614.708,21441.316,28289.782,62915.684,75318.951,135242.456,16400.639,48418.715,0.000,0.000
2019-10-10,25616.846,51643.593,7074.109,16538.369,376788.651,465963.261,4137.535,14042.154,314231.290,473938.570,...,7852.246,22372.259,28967.822,63228.900,81130.403,142865.450,19512.863,60908.219,0.000,0.000
2019-10-11,25896.942,50458.959,7367.391,17388.125,375749.391,468216.420,2996.935,9738.868,317212.380,478913.243,...,8074.753,22674.092,27807.965,62233.012,89350.316,152992.986,18345.613,57108.080,0.000,0.000
2019-10-12,26110.316,48993.740,8427.211,19824.811,373585.098,468430.656,2997.522,9723.261,320297.995,486517.210,...,8487.027,24280.796,27571.944,61352.519,93840.719,159621.414,17869.018,55551.601,0.000,0.000
2019-10-13,26956.670,50786.503,7525.146,16281.387,375948.482,471200.902,2387.081,7142.376,325814.481,492769.367,...,9169.781,25510.855,28126.244,62489.495,97627.582,164355.031,16570.154,49594.655,0.000,0.000
2019-10-14,27502.174,51304.512,6683.028,14204.586,377262.457,475372.705,2708.524,8586.666,327394.514,489431.773,...,9412.305,25554.650,27579.532,61851.105,103958.879,172461.556,15064.668,41861.312,0.000,0.000
2019-10-15,28076.061,50827.680,6747.860,14936.333,378467.097,481188.317,3407.483,11695.660,333039.386,489256.832,...,9103.964,24849.186,27319.990,61408.038,113238.544,188540.806,12383.442,30585.607,0.000,0.000
2019-10-16,28102.452,49568.335,7033.894,16425.220,376793.704,484827.645,4068.450,13781.631,342811.647,495140.569,...,8477.896,22553.412,27774.441,61280.219,124885.659,204974.997,11338.447,26736.465,0.000,0.000
2019-10-17,28229.793,49321.441,6294.859,15581.941,376541.466,488599.712,3790.474,12512.267,352643.230,500325.930,...,7870.515,19933.450,28814.105,64213.389,141748.659,228883.898,10141.000,23488.291,0.000,0.000
2019-10-18,28995.678,48796.444,6481.629,17295.161,379286.624,493524.427,3723.962,12159.168,366722.807,509334.783,...,7585.286,19772.437,31379.460,69830.600,162765.253,258906.932,10712.111,25604.644,0.000,0.000
2019-10-19,30256.839,50770.777,8508.352,24848.697,387640.821,501411.558,3208.875,10132.210,384929.877,523553.831,...,8050.208,21817.364,33953.533,75561.690,186157.147,290058.651,10578.559,25539.913,0.000,0.000
2019-10-20,30990.779,50530.783,10503.673,30841.535,399223.258,509441.889,2150.136,5298.173,398975.875,536831.185,...,9331.844,26301.839,35599.780,78758.199,209236.148,321326.864,10349.554,25377.050,0.000,0.000
2019-10-21,31976.167,51521.579,12902.872,37766.121,411983.331,519886.625,1705.529,3457.216,407750.043,547458.838,...,10117.126,28002.706,37710.052,82202.091,229295.912,356354.298,10660.600,26241.440,0.000,0.000
2019-10-22,32922.121,51545.741,15406.755,44994.429,429272.510,534798.328,1545.863,2768.680,406519.094,546994.502,...,10524.464,29272.086,39525.402,83348.286,249708.571,390466.497,11276.078,28336.593,0.000,0.000

In [352]:
for key in regional_updated_dict.keys():
    print(key)

Baffin-Area-km^2
Baffin-Extent-km^2
Barents-Area-km^2
Barents-Extent-km^2
Beaufort-Area-km^2
Beaufort-Extent-km^2
Bering-Area-km^2
Bering-Extent-km^2
CanadianArchipelago-Area-km^2
CanadianArchipelago-Extent-km^2
Central-Arctic-Area-km^2
Central-Arctic-Extent-km^2
Chukchi-Area-km^2
Chukchi-Extent-km^2
East-Siberian-Area-km^2
East-Siberian-Extent-km^2
Greenland-Area-km^2
Greenland-Extent-km^2
Hudson-Area-km^2
Hudson-Extent-km^2
Kara-Area-km^2
Kara-Extent-km^2
Laptev-Area-km^2
Laptev-Extent-km^2
Okhotsk-Area-km^2
Okhotsk-Extent-km^2
St-Lawrence-Area-km^2
St-Lawrence-Extent-km^2

In [353]:
final_ice_df.columns

Index(['Baffin-Area-km^2', 'Baffin-Extent-km^2', 'Barents-Area-km^2',
       'Barents-Extent-km^2', 'Beaufort-Area-km^2', 'Beaufort-Extent-km^2',
       'Bering-Area-km^2', 'Bering-Extent-km^2',
       'CanadianArchipelago-Area-km^2', 'CanadianArchipelago-Extent-km^2',
       'Central-Arctic-Area-km^2', 'Central-Arctic-Extent-km^2',
       'Chukchi-Area-km^2', 'Chukchi-Extent-km^2', 'East-Siberian-Area-km^2',
       'East-Siberian-Extent-km^2', 'Greenland-Area-km^2',
       'Greenland-Extent-km^2', 'Hudson-Area-km^2', 'Hudson-Extent-km^2',
       'Kara-Area-km^2', 'Kara-Extent-km^2', 'Laptev-Area-km^2',
       'Laptev-Extent-km^2', 'Okhotsk-Area-km^2', 'Okhotsk-Extent-km^2',
       'St-Lawrence-Area-km^2', 'St-Lawrence-Extent-km^2'],
      dtype='object')

In [354]:
final_ice_df.isnull().sum().sum()

0

In [355]:
# In the first few years of observations, there are records for every second day.
# This issue must be resolved
ice_df

            extent_north  extent_south
acq_date
1978-10-28        10.420        17.803
1978-10-30        10.557        17.670
1978-11-01        10.670        17.527
1978-11-03        10.777        17.486
1978-11-05        10.968        17.343
1978-11-07        11.080        17.157
1978-11-09        11.189        17.028
1978-11-11        11.314        16.815
1978-11-13        11.460        16.371
1978-11-15        11.539        16.176
1978-11-17        11.696        15.520
1978-11-19        11.870        15.267
1978-11-21        12.053        15.027
1978-11-23        12.274        14.681
1978-11-25        12.441        14.449
1978-11-27        12.662        13.980
1978-11-29        12.684        13.619
1978-12-01        12.725        13.330
1978-12-03        12.660        13.097
1978-12-05        12.785        12.829
1978-12-07        13.051        12.436
1978-12-09        13.143        11.963
1978-12-11        13.437        11.652
1978-12-13        13.603        11.148
1978-12-15        13.649        10.664
1978-12-17        13.807        10.239
1978-12-19        13.892         9.758
1978-12-21        13.996         9.362
1978-12-23        14.189         8.706
1978-12-25        14.268         8.362
...                  ...           ...
2019-09-23         4.349        18.326
2019-09-24         4.362        18.332
2019-09-25         4.416        18.342
2019-09-26         4.470        18.408
2019-09-27         4.504        18.364
2019-09-28         4.546        18.356
2019-09-29         4.555        18.428
2019-09-30         4.631        18.462
2019-10-01         4.794        18.363
2019-10-02         4.886        18.297
2019-10-03         4.818        18.278
2019-10-04         4.825        18.338
2019-10-05         4.836        18.314
2019-10-06         4.883        18.292
2019-10-07         4.907        18.304
2019-10-08         4.946        18.252
2019-10-09         4.950        18.161
2019-10-10         4.996        18.164
2019-10-11         4.998        18.182
2019-10-12         5.107        18.178
2019-10-13         5.109        18.203
2019-10-14         5.150        18.139
2019-10-15         5.224        18.084
2019-10-16         5.262        18.010
2019-10-17         5.374        17.958
2019-10-18         5.539        17.917
2019-10-19         5.651        17.840
2019-10-20         5.687        17.737
2019-10-21         5.781        17.680
2019-10-22         5.869        17.600

[13320 rows x 2 columns]

In [356]:
final_ice_df = pd.concat([final_ice_df, ice_df], axis=1, sort=False)

In [362]:
final_ice_df.columns

Index(['Baffin-Area-km^2', 'Baffin-Extent-km^2', 'Barents-Area-km^2',
       'Barents-Extent-km^2', 'Beaufort-Area-km^2', 'Beaufort-Extent-km^2',
       'Bering-Area-km^2', 'Bering-Extent-km^2',
       'CanadianArchipelago-Area-km^2', 'CanadianArchipelago-Extent-km^2',
       'Central-Arctic-Area-km^2', 'Central-Arctic-Extent-km^2',
       'Chukchi-Area-km^2', 'Chukchi-Extent-km^2', 'East-Siberian-Area-km^2',
       'East-Siberian-Extent-km^2', 'Greenland-Area-km^2',
       'Greenland-Extent-km^2', 'Hudson-Area-km^2', 'Hudson-Extent-km^2',
       'Kara-Area-km^2', 'Kara-Extent-km^2', 'Laptev-Area-km^2',
       'Laptev-Extent-km^2', 'Okhotsk-Area-km^2', 'Okhotsk-Extent-km^2',
       'St-Lawrence-Area-km^2', 'St-Lawrence-Extent-km^2', 'extent_north',
       'extent_south'],
      dtype='object')

In [360]:
final_ice_df[['Baffin-Area-km^2', 'Baffin-Area-km^2', 'Barents-Area-km^2', 
              'Barents-Extent-km^2', 'extent_north', 'extent_south']].head()

,Baffin-Area-km^2,Baffin-Area-km^2,Barents-Area-km^2,Barents-Extent-km^2,extent_north,extent_south
1978-10-28,416908.720,416908.720,222781.361,361743.416,10.420,17.803
1978-10-29,416908.720,416908.720,222781.361,361743.416,NaN,NaN
1978-10-30,419829.102,419829.102,229769.256,379395.172,10.557,17.670
1978-10-31,424603.699,424603.699,239080.138,397831.010,NaN,NaN
1978-11-01,432456.540,432456.540,255871.199,407009.512,10.670,17.527

In [363]:
# As shown above, there are NaN values for the old 'extent_north' and 'extent_south' columns.
# The reason is that in the first few years sattelite data was available every second day
# We'll fill these NaN values by interpolating values from adjacent days
len(final_ice_df['extent_north'][final_ice_df['extent_north'].isnull()])

1612

In [364]:
len(final_ice_df['extent_south'][final_ice_df['extent_south'].isnull()])

1612

In [365]:
extent_north = final_ice_df['extent_north']
extent_south = final_ice_df['extent_south']

In [366]:
extent_north.head()

1978-10-28    10.420
1978-10-29       NaN
1978-10-30    10.557
1978-10-31       NaN
1978-11-01    10.670
Name: extent_north, dtype: float64

In [367]:
extent_south.head()

1978-10-28    17.803
1978-10-29       NaN
1978-10-30    17.670
1978-10-31       NaN
1978-11-01    17.527
Name: extent_south, dtype: float64

In [368]:
# Use an order 1 polynomial function for filling the missing data
# because there aren't huge differences in ice surface in 2 days
extent_north=extent_north.reset_index().interpolate(method='polynomial', order = 1)
extent_south=extent_south.reset_index().interpolate(method='polynomial', order = 1)

In [369]:
extent_north=extent_north.set_index('index')

In [370]:
extent_north.head()

            extent_north
index
1978-10-28       10.4200
1978-10-29       10.4885
1978-10-30       10.5570
1978-10-31       10.6135
1978-11-01       10.6700

In [371]:
# The NaN at 1978-10-29 was filled correctly with the mean value from the previous and next observation

In [372]:
extent_south=extent_south.set_index('index')

In [373]:
extent_south.head()

            extent_south
index
1978-10-28       17.8030
1978-10-29       17.7365
1978-10-30       17.6700
1978-10-31       17.5985
1978-11-01       17.5270

In [374]:
final_ice_df['extent_north'] = extent_north
final_ice_df['extent_south'] = extent_south

In [375]:
final_ice_df[['Baffin-Area-km^2', 'Baffin-Area-km^2', 'Barents-Area-km^2', 
              'Barents-Extent-km^2', 'extent_north', 'extent_south']].head()

,Baffin-Area-km^2,Baffin-Area-km^2,Barents-Area-km^2,Barents-Extent-km^2,extent_north,extent_south
1978-10-28,416908.720,416908.720,222781.361,361743.416,10.4200,17.8030
1978-10-29,416908.720,416908.720,222781.361,361743.416,10.4885,17.7365
1978-10-30,419829.102,419829.102,229769.256,379395.172,10.5570,17.6700
1978-10-31,424603.699,424603.699,239080.138,397831.010,10.6135,17.5985
1978-11-01,432456.540,432456.540,255871.199,407009.512,10.6700,17.5270

In [376]:
# There are no more nulls in the ice dataframe
len(final_ice_df['extent_north'][final_ice_df['extent_north'].isnull()])

0

In [409]:
final_ice_df.to_csv('./Data/ice/ice_final.csv',index=True)
final_ice_new_df=pd.read_csv('./Data/ice/ice_final.csv', index_col = False)
final_ice_new_df = final_ice_new_df.set_index('Unnamed: 0')
final_ice_new_df.index.name = None

In [410]:
final_ice_df.head(3)

,Baffin-Area-km^2,Baffin-Extent-km^2,Barents-Area-km^2,Barents-Extent-km^2,Beaufort-Area-km^2,Beaufort-Extent-km^2,Bering-Area-km^2,Bering-Extent-km^2,CanadianArchipelago-Area-km^2,CanadianArchipelago-Extent-km^2,...,Kara-Area-km^2,Kara-Extent-km^2,Laptev-Area-km^2,Laptev-Extent-km^2,Okhotsk-Area-km^2,Okhotsk-Extent-km^2,St-Lawrence-Area-km^2,St-Lawrence-Extent-km^2,extent_north,extent_south
1978-10-28,416908.720,521862.289,222781.361,361743.416,895310.805,940219.39,11472.805,35555.883,719220.320,761228.252,...,569610.622,815398.750,802884.363,872414.226,16799.581,35135.582,0.0,0.0,10.4200,17.8030
1978-10-29,416908.720,521862.289,222781.361,361743.416,895310.805,940219.39,11472.805,35555.883,719220.320,761228.252,...,569610.622,815398.750,802884.363,872414.226,16799.581,35135.582,0.0,0.0,10.4885,17.7365
1978-10-30,419829.102,531533.703,229769.256,379395.172,894088.098,940219.39,13553.099,42670.305,717303.629,761228.252,...,562328.391,816017.367,806760.991,872414.226,18745.308,39102.698,0.0,0.0,10.5570,17.6700

In [411]:
final_ice_new_df.head(3)

,Baffin-Area-km^2,Baffin-Extent-km^2,Barents-Area-km^2,Barents-Extent-km^2,Beaufort-Area-km^2,Beaufort-Extent-km^2,Bering-Area-km^2,Bering-Extent-km^2,CanadianArchipelago-Area-km^2,CanadianArchipelago-Extent-km^2,...,Kara-Area-km^2,Kara-Extent-km^2,Laptev-Area-km^2,Laptev-Extent-km^2,Okhotsk-Area-km^2,Okhotsk-Extent-km^2,St-Lawrence-Area-km^2,St-Lawrence-Extent-km^2,extent_north,extent_south
1978-10-28,416908.720,521862.289,222781.361,361743.416,895310.805,940219.39,11472.805,35555.883,719220.320,761228.252,...,569610.622,815398.750,802884.363,872414.226,16799.581,35135.582,0.0,0.0,10.4200,17.8030
1978-10-29,416908.720,521862.289,222781.361,361743.416,895310.805,940219.39,11472.805,35555.883,719220.320,761228.252,...,569610.622,815398.750,802884.363,872414.226,16799.581,35135.582,0.0,0.0,10.4885,17.7365
1978-10-30,419829.102,531533.703,229769.256,379395.172,894088.098,940219.39,13553.099,42670.305,717303.629,761228.252,...,562328.391,816017.367,806760.991,872414.226,18745.308,39102.698,0.0,0.0,10.5570,17.6700

In [2]:
!jupyter nbconvert --to html capstone-project1-data-wrangling.ipynb

[NbConvertApp] Converting notebook capstone-project1-data-wrangling.ipynb to html
[NbConvertApp] Writing 756365 bytes to capstone-project1-data-wrangling.html

In [3]:
!jupyter nbconvert --to pdf capstone-project1-data-wrangling.ipynb

[NbConvertApp] Converting notebook capstone-project1-data-wrangling.ipynb to pdf
[NbConvertApp] Writing 321160 bytes to ./notebook.tex
[NbConvertApp] Building PDF
Traceback (most recent call last):
  File "/Users/bogdan/anaconda3/bin/jupyter-nbconvert", line 11, in <module>
    sys.exit(main())
  File "/Users/bogdan/anaconda3/lib/python3.7/site-packages/jupyter_core/application.py", line 267, in launch_instance
    return super(JupyterApp, cls).launch_instance(argv=argv, **kwargs)
  File "/Users/bogdan/anaconda3/lib/python3.7/site-packages/traitlets/config/application.py", line 658, in launch_instance
    app.start()
  File "/Users/bogdan/anaconda3/lib/python3.7/site-packages/nbconvert/nbconvertapp.py", line 340, in start
    self.convert_notebooks()
  File "/Users/bogdan/anaconda3/lib/python3.7/site-packages/nbconvert/nbconvertapp.py", line 510, in convert_notebooks
    self.convert_single_notebook(notebook_filename)
  File "/Users/bogdan/anaconda3/lib/python3.7/site-packages/nbconvert/nbconvertapp.py", line 481, in convert_single_notebook
    output, resources = self.export_single_notebook(notebook_filename, resources, input_buffer=input_buffer)
  File "/Users/bogdan/anaconda3/lib/python3.7/site-packages/nbconvert/nbconvertapp.py", line 410, in export_single_notebook
    output, resources = self.exporter.from_filename(notebook_filename, resources=resources)
  File "/Users/bogdan/anaconda3/lib/python3.7/site-packages/nbconvert/exporters/exporter.py", line 179, in from_filename
    return self.from_file(f, resources=resources, **kw)
  File "/Users/bogdan/anaconda3/lib/python3.7/site-packages/nbconvert/exporters/exporter.py", line 197, in from_file
    return self.from_notebook_node(nbformat.read(file_stream, as_version=4), resources=resources, **kw)
  File "/Users/bogdan/anaconda3/lib/python3.7/site-packages/nbconvert/exporters/pdf.py", line 185, in from_notebook_node
    self.run_latex(tex_file)
  File "/Users/bogdan/anaconda3/lib/python3.7/site-packages/nbconvert/exporters/pdf.py", line 156, in run_latex
    self.latex_count, log_error, raise_on_failure)
  File "/Users/bogdan/anaconda3/lib/python3.7/site-packages/nbconvert/exporters/pdf.py", line 114, in run_command
    "at {link}.".format(formatter=command_list[0], link=link))
OSError: xelatex not found on PATH, if you have not installed xelatex you may need to do so. Find further instructions at https://nbconvert.readthedocs.io/en/latest/install.html#installing-tex.